<template>
  <div class="app-logo flex items-center justify-center">
    <img src="./../../assets/vite.svg" />
    <div class="truncate">
      <div class="flex items-center">
        <div class="user truncate">{{ title }}</div>
      </div>
    </div>
  </div>
</template>

<script setup>
const title = ref("客户服务平台");
</script>

<style lang="scss" scoped>
.app-logo {
  margin-left: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;

  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #1d2129;

  img {
    display: block;
    height: 32px;
    width: auto;
  }

  .truncate {
    max-width: 265px;
    margin-left: 5px;
    color: #1d2129;
    font-size: 16px;
  }
}
</style>
