<template>
  <div class="layout-header-breadcrumb">
    <el-breadcrumb separator="/">
      <!-- <el-breadcrumb-item>
        <el-icon color="rgb(143,144,156)">
          <i-ep-menu></i-ep-menu>
        </el-icon>
      </el-breadcrumb-item> -->
      <el-breadcrumb-item v-for="(item, index) in levelList" :key="item.path">
        <span
          v-if="item.redirect === 'noRedirect' || index == levelList.length - 1"
          class="no-redirect"
        >
          {{ item.meta.title }}
        </span>
        <span v-else>{{ item.meta.title }}</span>
      </el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script setup>
  const $route = reactive(useRoute());
  const levelList = ref([]);

  const getBreadcrumb = () => {
    const matched = $route.matched.filter((item) => item.meta && item.meta.title);
    levelList.value = matched.filter(
      (item) => item.meta && item.meta.title && item.meta.breadcrumb !== false
    );
  };
  getBreadcrumb();

  watch($route, (e) => {
    getBreadcrumb();
  });
</script>

<style lang="scss" scoped>
  .layout-header-breadcrumb {
    display: flex;
    // padding: 8px;
    padding-left: 16px;
    // margin: 16px 0;
    margin-bottom: 0px;
    align-items: center;
    :deep(.el-breadcrumb__inner) {
      color: #4e5969;
      a {
        font-weight: normal;
      }
    }
  }
</style>
