<template>
  <div v-show="!fullWindow" class="layout-header-content">
    <div class="layout-header">
      <!-- <div class="layout-header-left">
        <div class="layout-header-trigger" @click="toggleSidebar">
          <el-icon v-if="sidebarOpen" :size="20" color="#606266">
            <i-ep-fold />
          </el-icon>
          <el-icon v-else :size="20" color="#606266">
            <i-ep-expand />
          </el-icon>
        </div>
      </div> -->
      <div class="layout-header-action">
        <AppLogo></AppLogo>
      </div>
      <!-- <div class="layout-header-action">
        <Breadcrumb></Breadcrumb>
      </div> -->

      <div class="layout-header-action">
        <div class="layout-header-action-item">
          <div class="layout-header-trigger">
            <el-icon :size="20" color="#606266">
              <i-ep-search />
            </el-icon>
          </div>
        </div>
        <div class="layout-header-action-item">
          <div class="layout-header-trigger">
            <el-icon :size="20" color="#606266">
              <i-ep-bell />
            </el-icon>
          </div>
        </div>

        <div class="layout-header-action-item">
          <div class="layout-header-trigger" @click="toggleScreenFull">
            <el-icon :size="26" color="#606266">
              <!-- <ContractOutline  /> -->
              <i-ic-sharp-fullscreen-exit v-if="isScreenFull" />
              <i-ic-sharp-fullscreen v-else />

              <!-- <ExpandOutline></ExpandOutline> -->
            </el-icon>
          </div>
        </div>

        <!-- <div class="layout-header-action-item">
          <div class="layout-header-trigger">
            <el-dropdown trigger="click">
              <el-icon :size="20" color="#606266">
                <TranslateRound />
              </el-icon>

              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item command="zhCN">中文</el-dropdown-item>
                  <el-dropdown-item command="English">English</el-dropdown-item>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </div>
        </div> -->

        <div class="layout-header-action-item">
          <el-switch
            v-model="isDark"
            inline-prompt
            :active-icon="EpMoon"
            :inactive-icon="EpSunny"
          />
        </div>

        <div class="layout-header-action-item ml-2">
          <el-button
            :type="enabledCachedViews ? 'success' : 'danger'"
            round
            size="small"
            @click="toggleCached"
            >缓存{{ enabledCachedViews ? "开" : "关" }}</el-button
          >
          <el-button
            v-permission="'ComprehensiveHandling:OpenAccount'"
            size="small"
            round
            @click="toggleTest"
            >测试</el-button
          >
        </div>

        <!-- <div class="layout-header-action-item ml-2">
          <el-button round size="small" type="success" @click="toggleMPS">MPS</el-button>
        </div> -->

        <div class="layout-header-action-item">
          <div class="layout-header-trigger">
            <ThemeProvider></ThemeProvider>
          </div>
        </div>

        <div v-if="companyInfo" class="layout-header-action-item">
          <div class="layout-header-trigger">
            <div class="flex items-center">
              <el-avatar
                shape="square"
                class="avatar"
                :size="26"
                src="@/assets/vite.svg"
              >
                <img src="@/assets/vite.svg" />
              </el-avatar>
              <span class="user company">Vite-Vue3.2</span>
            </div>
          </div>
        </div>

        <div class="layout-header-action-item">
          <div class="layout-header-trigger">
            <el-dropdown trigger="click" @command="handleCommand">
              <div class="flex items-center">
                <el-avatar
                  shape="square"
                  class="avatar"
                  :size="26"
                  src="@/assets/vite.svg"
                >
                  <img src="./../../assets/vite.svg" />
                </el-avatar>
                <span class="user">Vite</span>
              </div>

              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item command="info">个人信息</el-dropdown-item>
                  <el-dropdown-item command="changePass"
                    >修改密码</el-dropdown-item
                  >
                  <el-dropdown-item command="lock">锁定屏幕</el-dropdown-item>
                  <el-dropdown-item command="exitLogin"
                    >退出登录</el-dropdown-item
                  >
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </div>
        </div>

        <div class="layout-header-action-item">
          <div class="layout-header-trigger">
            <el-icon :size="20" color="#606266">
              <i-ep-setting />
            </el-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <el-dialog-ext
    v-model="dialog.show"
    :title="dialog.isEdit ? '个人信息' : '修改密码'"
    width="400px"
  >
    <el-form
      v-show="dialog.isEdit"
      ref="formRef"
      :model="dataForm"
      :rules="rules"
      label-width="80px"
      label-position="left"
    >
      <el-form-item label="用户头像" prop="accountImg">
        <div class="avatarInfo avatar-uploader" @click="openAvatarBox">
          <div v-if="!dataForm.updateImg">
            <el-image class="img" src="@/assets/vite.svg">
              <template #error>
                <img src="../../assets/img/default.png" />
              </template>
            </el-image>
          </div>
          <div v-else>
            <el-image
              v-if="dataForm.accountImg"
              class="img"
              :src="dataForm.accountImg"
            >
              <template #error>
                <img src="../../assets/img/default.png" />
              </template>
            </el-image>
            <el-icon v-else class="avatar-uploader-icon">
              <i-ep-plus></i-ep-plus>
            </el-icon>
          </div>
        </div>
        <avatarBox
          v-model="avatarBoxShow"
          field="img"
          :width="300"
          :height="300"
          img-format="png"
          @crop-success="cropSuccess"
        />
      </el-form-item>
      <el-form-item label="姓名" prop="name">
        <el-input v-model="dataForm.name" />
      </el-form-item>
      <el-form-item label="昵称" prop="nickname">
        <el-input v-model="dataForm.nickname" />
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-radio-group v-model="dataForm.sex">
          <el-radio label="男">男</el-radio>
          <el-radio label="女">女</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="邮箱地址" prop="email">
        <el-input v-model="dataForm.email" />
      </el-form-item>
      <el-form-item label="手机号" prop="mobile">
        <el-input v-model="dataForm.mobile" maxlength="11" />
      </el-form-item>
      <el-form-item label="身份证号" prop="cardId">
        <el-input v-model="dataForm.cardId" maxlength="18" />
      </el-form-item>
      <el-form-item label="直接上级" prop="leaderId">
        <UserSelect v-model="dataForm.leaderId"></UserSelect>
      </el-form-item>
    </el-form>
    <el-form
      v-show="!dialog.isEdit"
      ref="passFormRef"
      :model="passForm"
      :rules="passFormRules"
      label-width="100px"
      label-position="left"
    >
      <el-form-item label="旧密码" prop="oldpwd">
        <el-input
          v-model="passForm.oldpwd"
          autocomplete="new-password"
          show-password
          placeholder="新密码"
        />
      </el-form-item>
      <el-form-item label="新密码" prop="newpwd">
        <el-input
          v-model="passForm.newpwd"
          autocomplete="new-password"
          show-password
          placeholder="新密码"
        />
      </el-form-item>
      <el-form-item label="确认密码" prop="confirm">
        <el-input
          v-model="passForm.confirm"
          autocomplete="new-password"
          show-password
          placeholder="确认密码"
        />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-popconfirm
          v-if="dialog.isEdit"
          title="清空表单?"
          @confirm="resetForm"
        >
          <template #reference>
            <el-button>重置</el-button>
          </template>
        </el-popconfirm>
        <el-button
          v-if="dialog.isEdit"
          type="success"
          :loading="dialog.isLoading"
          @click="submitForm(submitMethod)"
          >提交</el-button
        >
        <el-button
          v-if="!dialog.isEdit"
          type="success"
          :loading="dialog.loading"
          @click="passLogin"
          >立即重置</el-button
        >
      </span>
    </template>
  </el-dialog-ext>
</template>

<script setup>
import { ref, computed, reactive, watch, onMounted } from "vue";
// import * as XLSX from 'xlsx';
// import { TranslateRound } from '@vicons/material';
import { useDark } from "@vueuse/core";
import cryptoJs from "crypto-js";
// import { get as ObjGet, set as objSet } from 'lodash-es';
import screenfull from "screenfull";
import avatarBox from "vue-image-crop-upload";
import { useRouter } from "vue-router";
import EpMoon from "~icons/ep/moon";
import EpSunny from "~icons/ep/sunny";

// import * as netData from "@/api/org/BusUser";
// import { accessKey, changePwd } from "@/api/auth";
// import { httpImg } from "@/api/index";

import useForm from "@/hooks/useForm";

import { useAppStore } from "@/store/modules/app";
import { userAppStore } from "@/store/modules/user";

import ThemeProvider from "@/components/ThemeProvider.vue";

// import canvasWM from '@/utils/watermarker';
import AppLogo from "./AppLogo.vue";
// import Breadcrumb from './Breadcrumb.vue';
import useModel from "./modules/model";

const avatarBoxShow = ref(false);
const openAvatarBox = () => {
  avatarBoxShow.value = true;
};

const cropSuccess = (e) => {
  dataForm.value.accountImg = e;
  avatarBoxShow.value = false;
};

// const submitMethod = ref(netData.busUserEdit);
const { model, rules } = useModel();
const { formRef, dataForm, dialog, resetForm, submitForm } = useForm(model);

const appStore = useAppStore();
const userStore = userAppStore();

const $router = reactive(useRouter());

const userInfo = computed(() => userStore.userInfo);
const companyInfo = computed(() => userStore.userCompany);

const isScreenFull = ref(false);
// const sidebarOpen = computed(() => appStore.sidebarOpen);
const fullWindow = computed(() => appStore.fullWindow);
// const headerHeight = computed(() => (appStore.fullWindow ? '32px' : '80px'));
// const headerHeight = computed(() => (appStore.fullWindow ? '32px' : '80px'));
const enabledCachedViews = computed(() => appStore.enabledCachedViews);

// enabledCachedViews.value =
//   localStorage.getItem('enabledCachedViews') === null
//     ? false
//     : localStorage.getItem('enabledCachedViews');

// const toggleSidebar = () => {
//   appStore.toggleSidebar();
// };

const toggleScreenFull = () => {
  if (screenfull.isEnabled) {
    screenfull.toggle();
    isScreenFull.value = !isScreenFull.value;
  }
};

const toggleCached = () => {
  appStore.setCachedState(!enabledCachedViews.value);
};

const toggleTest = () => {
  ElMessage.success("你好");
};

const getMPSTree = (dir) => {
  return dir.map((item) => {
    if (item.children && item.children.length > 0) {
      item.children = getMPSTree(item.children);
    }
    const r = {
      title: item.meta ? item.meta.title : item.title,
      path: item.path,
      icon: item.meta ? item.meta.icon : "",
      // children: item.children || [],
    };

    if (item.children && item.children.length > 0) {
      r.children = item.children;
    }
    return r;
  });
};

// const toggleMPS = () => {
//   const routes = $router.getRoutes();
//   const dir = routes.filter((v) => v.children.length > 0);
//   const t = console;
//   const l = getMPSTree(dir);
//   t.log(l);
//   // t.log(JSON.stringify(l));
//   // const excleData = [
//   //   ['周一', '周二', '周三', '周四', '周五'],
//   //   ['语文', '数学', '历史', '政治', '英语'],
//   //   ['数学', '数学', '政治', '英语', '英语'],
//   //   ['政治', '英语', '历史', '政治', '数学'],
//   // ];
//   //
//   const excelData = [['目录名称', '菜单名称', '路径', '类型', '图标']];
//   l.forEach((item) => {
//     excelData.push([item.title, '', item.path, '目录', item.icon]);
//     item.children.forEach((menu) => {
//       excelData.push(['', menu.title, menu.path, '菜单', menu.icon]);
//     });
//   });

//   const worksheet = XLSX.utils.aoa_to_sheet(excelData);
//   const workbook = XLSX.utils.book_new(); // 创建虚拟workbook
//   /* 将工作表添加到工作簿,生成xlsx文件(book,sheet数据,sheet命名) */
//   XLSX.utils.book_append_sheet(workbook, worksheet, 'Sheet1');
//   /* 输出工作表， 由文件名决定的输出格式(book,xlsx文件名称) */
//   XLSX.writeFile(workbook, '路由映射表.xlsx');
// };

const handleCommand = (command) => {
  // if (command === "exitLogin") {
  //   userStore.resetToken();
  //   $router.push("/login");
  //   // const wm = document.querySelector('.__wm');
  //   // if (wm) {
  //   //   wm.parentNode.removeChild(wm);
  //   // }
  // }
  // if (command === "info") {
  //   dialog.isEdit = true;
  //   netData.busUserInfo(userInfo.value.id).then((res) => {
  //     dataForm.value = res;
  //   });
  //   dialog.show = true;
  // }
  // if (command === "changePass") {
  //   dialog.isEdit = false;
  //   dialog.show = true;
  //   nextTick(() => {
  //     passFormRef.value.resetFields();
  //   });
  // }
  // if (command === "lock") {
  //   // $router.push('/login');
  //   ElMessageBox.prompt("请输入锁屏密码", "提示", {
  //     confirmButtonText: "锁定",
  //     cancelButtonText: "取消",
  //     // inputPattern:
  //     //   /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
  //     // inputErrorMessage: 'Invalid Email',
  //   })
  //     .then(({ value }) => {
  //       // ElMessage({
  //       //   type: 'success',
  //       //   message: `Your email is:${value}`,
  //       // })
  //       appStore.lockScreen(value);
  //     })
  //     .catch(() => {
  //       // ElMessage({
  //       //   type: 'info',
  //       //   message: 'Input canceled',
  //       // })
  //     });
  // }
};
const passModel = {
  username: "",
  oldpwd: "",
  newpwd: "",
  userKey: "",
};
const checkPassword = (rule, value, callback) => {
  if (`${value}`.length > 0) {
    if (passForm.value.newpwd !== value) {
      callback(new Error("两次输入的密码不一致!"));
    } else {
      callback();
    }
  } else {
    callback(new Error("请输入确认密码"));
  }
};
const passFormRules = reactive({
  oldpwd: [{ required: true, message: "请输入旧密码", trigger: "change" }],
  newpwd: [{ required: true, message: "请输入新密码", trigger: "change" }],
  confirm: [{ required: true, validator: checkPassword, trigger: "change" }],
});
const passFormRef = ref(null);
const passForm = ref({ ...passModel });
const passLogin = () => {
  // passFormRef.value.validate((valid) => {
  //   if (valid) {
  //     dialog.isLoading = true;
  //     accessKey().then((res) => {
  //       const { tokenkey, userkey } = res;
  //       const tokenKey = cryptoJs.enc.Utf8.parse(tokenkey);
  //       const newPassword = cryptoJs.AES.encrypt(
  //         cryptoJs.enc.Utf8.parse(passForm.value.newpwd),
  //         tokenKey,
  //         {
  //           iv: tokenKey,
  //           mode: cryptoJs.mode.CBC,
  //           padding: cryptoJs.pad.Pkcs7,
  //         }
  //       ).toString();
  //       const oldPassword = cryptoJs.AES.encrypt(
  //         cryptoJs.enc.Utf8.parse(passForm.value.oldpwd),
  //         tokenKey,
  //         {
  //           iv: tokenKey,
  //           mode: cryptoJs.mode.CBC,
  //           padding: cryptoJs.pad.Pkcs7,
  //         }
  //       ).toString();
  //       passForm.value.oldpwd = oldPassword;
  //       passForm.value.newpwd = newPassword;
  //       passForm.value.userKey = userkey;
  //       passForm.value.username = userInfo.value.username;
  //       passForm.value.confirm = newPassword;
  //       changePwd(passForm.value).then(
  //         () => {
  //           dialog.isLoading = false;
  //           ElMessage({
  //             type: "success",
  //             message: "操作成功",
  //           });
  //           dialog.show = false;
  //           localStorage.setItem("remember", false);
  //           localStorage.removeItem("userTicket");
  //           userStore.resetToken();
  //           $router.push("/login");
  //         },
  //         () => {
  //           passFormRef.value.resetFields();
  //           dialog.isLoading = false;
  //         }
  //       );
  //     });
  //   }
  // });
};

// onMounted(() => {
//   canvasWM({ content: userInfo.value.name });
// });

const isDark = useDark();

// const isDashboard = (route) => {
//   const name = route && route.name;
//   if (!name) {
//     return false;
//   }
//   return name.trim().toLocaleLowerCase() === 'Dashboard'.toLocaleLowerCase();
// };
</script>

<style lang="scss" scoped>
.avatarInfo {
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 4px;

  .img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }
}

.layout-header-content {
  // height: v-bind(headerHeight);
  height: 48px;

  .layout-header {
    display: flex;
    height: 48px;
    padding: 0;
    line-height: 48px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;

    .layout-header-left {
      display: flex;
      height: 100%;
      align-items: center;
    }

    .layout-header-trigger {
      display: flex;
      height: 100%;
      padding: 1px 10px 0 10px;
      cursor: pointer;
      align-items: center;
      color: #ffffff;

      .avatar {
        margin-right: 12px;
      }

      .user {
        display: block;
        // color: rgba(0, 0, 0, 0.85);
        color: var(--el-text-color-primary);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 48px;
        font-size: 14px;
        max-width: 150px;

        &.company {
          max-width: 350px;
        }
      }
    }

    .layout-header-action {
      display: flex;
      // min-width: 180px;
      align-items: center;

      &-item {
        display: flex !important;
        height: 48px;
        padding: 0 2px;
        font-size: 1.2em;
        cursor: pointer;
        align-items: center;
      }
    }
  }
}

html.dark {
  .layout-header {
    background-color: var(--el-card-bg-color);
    color: var(--el-text-color-regular) !important;
  }
}
</style>
