<template>
  <div class="dashboard align-center flex justify-center">
    <img src="../../assets/img/bg-dashboard-3.png" alt="" />
  </div>
</template>

<script setup>
  //
</script>

<style lang="scss" scoped>
  .dashboard {
    margin: 20px;
    background-color: #fff;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px;
    height: 80vh;
  }
</style>
