<template>
  <div>
    <!-- 基础业务代码 -->
    <!-- #region -->
    <ClassicLayout>
      <template #extend>
        <el-form ref="queryRef" label-width="90px" inline :model="query.data">
          <el-form-item label="小区名称" prop="name">
            <el-input
              v-model="query.data.name"
              placeholder="请输入小区名称"
            ></el-input>
          </el-form-item>
          <el-condition-select
            v-model:queryForm="query.data"
            :conditions="['userOrgArea']"
          ></el-condition-select>

          <el-form-item class="not-limit float-right">
            <el-button type="primary" @click="goQuery">
              <el-icon class="el-icon--left">
                <i-ep-search></i-ep-search>
              </el-icon>
              查询
            </el-button>
            <el-button @click="resetQuery">
              <el-icon class="el-icon--left">
                <i-ep-refresh-left></i-ep-refresh-left>
              </el-icon>
              重置
            </el-button>
          </el-form-item>
        </el-form>
      </template>

      <template #body>
        <el-table
          v-loading="tableInfo.isLoading"
          :data="tableInfo.data"
          stripe
          highlight-current-row
          style="width: 100%"
        >
          <el-table-column
            prop="name"
            label="小区名称"
            min-width="250"
            show-overflow-tooltip
          />
          <el-table-column
            prop="addr"
            label="地址"
            min-width="350"
            show-overflow-tooltip
          />
          <el-table-column prop="longitude" label="经度" min-width="100" />
          <el-table-column prop="latitude" label="纬度" min-width="100" />
          <el-table-column
            prop="num"
            label="总户数"
            min-width="100"
            align="right"
          />

          <el-table-column label="操作" min-width="180">
            <template #header>
              <div class="flex justify-end">
                <el-button type="primary" @click="openAddDialog"
                  >新增</el-button
                >
              </div>
            </template>
            <template #default="scope">
              <el-button text type="primary" @click="handleEdit(scope.row)"
                >编辑</el-button
              >
              <el-button text type="primary" @click="handleDelete(scope.row.id)"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </template>
      <template #footer>
        <el-pagination
          class="flex justify-end"
          :current-page="tableInfo.page"
          :page-sizes="[10, 15, 20, 30, 50]"
          :page-size="tableInfo.limit"
          layout="total, sizes, prev, pager, next, jumper"
          :total="tableInfo.total"
          @size-change="handleSizeChange"
          @current-change="switchPage"
        >
        </el-pagination>
      </template>
    </ClassicLayout>

    <el-dialog-ext
      v-model="dialog.show"
      :title="'小区' + (dialog.isEdit ? '编辑' : '新增')"
      width="900px"
    >
      <el-form
        ref="formRef"
        :model="dataForm"
        :rules="rules"
        label-width="80px"
        label-position="left"
      >
        <div class="flex">
          <div class="mr-5" style="width: 350px">
            <el-form-item label="小区名称" prop="name">
              <el-input
                v-model="dataForm.name"
                placeholder="请输入小区名称"
                @change="queryGPS"
              />
            </el-form-item>

            <el-form-item label="设计户数" prop="num">
              <el-input
                v-model="dataForm.num"
                type="number"
                placeholder="请输入总户数"
              />
            </el-form-item>
            <el-form-item label="管理站点" prop="stationId">
              <MgtSelect
                v-model:areaId="dataForm.areaId"
                v-model:stationId="dataForm.stationId"
              ></MgtSelect>
            </el-form-item>

            <el-form-item label="所属地区" prop="areaCode">
              <!-- {{ userCompany.areaName.join('') }} -->
              <AreaSelect
                v-model:areaCode="dataForm.areaCode"
                v-model:areaName="dataForm.areaName"
                :deep="3"
                @change="updateTown"
              ></AreaSelect>
            </el-form-item>

            <el-form-item label="乡镇街道" prop="townId">
              <AreaSelectSingle
                ref="townSelectRef"
                v-model="dataForm.townId"
                :parent-id="townParentId"
                @change="updateCommunity"
              ></AreaSelectSingle>
            </el-form-item>

            <el-form-item label="村社区" prop="communityId">
              <AreaSelectSingle
                v-model="dataForm.communityId"
                :parent-id="communityParentId"
              ></AreaSelectSingle>
            </el-form-item>
          </div>
          <div>
            <el-form-item label-width="0" label="" prop="longitude">
              <div class="map-box">
                <el-amap
                  ref="amapRef"
                  v-model:markerLng="dataForm.longitude"
                  v-model:markerLat="dataForm.latitude"
                  amap-key="stationInfo"
                  enable-choice-marker
                  @town-community-detect="townCommunityDetect"
                ></el-amap>
              </div>
            </el-form-item>
            <el-form-item
              v-show="false"
              label="地理信息"
              prop="latitude"
            ></el-form-item>
          </div>
        </div>
      </el-form>

      <template #footer>
        <span class="dialog-footer">
          <el-popconfirm
            v-if="!dialog.isEdit"
            title="清空表单?"
            @confirm="resetForm"
          >
            <template #reference>
              <el-button>重置</el-button>
            </template>
          </el-popconfirm>
          <el-button
            type="success"
            :loading="dialog.isLoading"
            @click="submitForm(submitMethod)"
            >提交</el-button
          >
        </span>
      </template>
    </el-dialog-ext>
    <!-- 基础业务代码 -->
    <!-- #endregion -->

    <!-- 拓展业务代码 -->

    <!-- 拓展业务代码 -->
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
/* 当前页样式 */
.map-box {
  height: 280px;
  width: 480px;
  border-radius: 8px;
  overflow: hidden;
}
</style>
