<template>
  <div class="login">
    <div class="news-feed">
      <div class="news-image" />
      <div class="news-caption">
        <h4 class="caption-title"><b></b> 客服管理系统</h4>
        <p>
          SaaS系统的建设目标是功能上支撑中小公司。建立统一的PaaS平台，在PaaS平台之上构建SaaS业务平台.
        </p>
      </div>
    </div>

    <div class="login-container flex flex-col justify-center">
      <div class="login-header align-center mb-10 flex">
        <div class="brand">
          <div class="logo" />
          <div class="align-center flex"><b></b> 客服管理系统</div>
          <small class="mt-3">一个客服管理系统</small>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in-alt" />
        </div>
      </div>

      <div class="login-content">
        <el-form
          v-show="tab === 0"
          ref="passFormRef"
          :model="passForm"
          :rules="passFormRules"
          label-width="0px"
        >
          <el-form-item prop="username">
            <el-input v-model="passForm.username" placeholder="账户" />
          </el-form-item>
          <el-form-item prop="password">
            <el-input
              v-model="passForm.password"
              show-password
              placeholder="密码"
              @keyup.enter="passLogin"
            />
          </el-form-item>

          <div class="flex justify-between">
            <el-checkbox v-model="remember">记住我</el-checkbox>
            <div class="flex justify-between">
              <el-button v-show="!loading" type="primary" text
                >手机号登录</el-button
              >
              <el-button
                v-show="!loading"
                type="primary"
                text
                @click="$router.push('/reset')"
                >忘记密码</el-button
              >
            </div>
          </div>

          <el-form-item class="mt-3">
            <el-button
              style="width: 100%"
              type="primary"
              :loading="loading"
              @click="passLogin"
              >立即登录</el-button
            >
          </el-form-item>
        </el-form>

        <el-form
          v-show="tab === 1"
          ref="phoneFormRef"
          :model="phoneForm"
          :rules="phoneFormRules"
          label-width="0px"
        >
          <el-form-item prop="telPhone">
            <el-input v-model="phoneForm.telPhone" placeholder="手机号" />
          </el-form-item>
          <el-form-item prop="code">
            <div class="flex">
              <el-input v-model="phoneForm.code" placeholder="短信验证码" />
              <div class="ml-5">
                <el-button :class="{ disabled: !canClick }">{{
                  content
                }}</el-button>
              </div>
            </div>
          </el-form-item>
          <div class="flex justify-end">
            <el-button v-show="!loading" text type="primary"
              >账号密码登录</el-button
            >
            <el-button
              v-show="!loading"
              text
              type="primary"
              @click="$router.push('/reset')"
              >忘记密码</el-button
            >
          </div>

          <el-form-item class="mt-3">
            <el-button style="width: 100%" type="primary" :loading="loading"
              >立即登录</el-button
            >
          </el-form-item>
        </el-form>

        <div class="text-inverse mb-8 pb-5">
          还没有成为会员？点击
          <el-button text type="primary" @click="$router.push('/register')"
            >这里</el-button
          >
          注册。
        </div>

        <hr class="bg-gray-800" />
        <div class="copyright mt-4">
          © FUTURE INSIGHT All Right Reserved 2021-2022
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useRouter } from "vue-router";
const router = useRouter();
const loading = ref(false);
const remember = ref(false);
if (localStorage.getItem("remember")) {
  remember.value = true;
}
const canClick = ref(true);
const content = ref("发送验证码");
const phoneFormRef = ref();
const passFormRef = ref();
const passForm = reactive({
  username: "",
  password: "",
});
const passFormRules = reactive({
  username: [{ required: true, message: "请输入账户", trigger: "change" }],
  password: [{ required: true, message: "请输入密码", trigger: "change" }],
});
const tab = ref(0);
const phoneForm = reactive({
  telPhone: "",
  code: "",
  appkey: "",
});
const phoneFormRules = reactive({
  telPhone: [{ required: true, message: "请输入手机号", trigger: "change" }],
  code: [{ required: true, message: "请输入验证码", trigger: "change" }],
});
const passLogin = () => {
  passFormRef.value.validate((valid) => {
    if (valid) {
      loading.value = true;
      setTimeout(() => {
        sessionStorage.setItem("remember", true);
        sessionStorage.setItem("token", "123456");
        loading.value = false;
        router.push("/");
      }, 2000);
    }
  });
};
</script>

<style lang="scss" scoped>
.disabled {
  background-color: #ddd;
  border-color: #ddd;
  color: #57a3f3;
  cursor: not-allowed;
}
.text-gray-600,
.text-gray-600-500 {
  color: #6c757d !important;
}
.bg-gray-600,
.bg-gray-600-500 {
  background-color: #6c757d !important;
}
.opacity-2 {
  opacity: 0.2 !important;
}

.text-inverse,
.text-inverse-500 {
  color: #2d353c !important;
  font-size: 13px;
}

.login {
  min-height: 100vh;

  .login-container {
    width: 500px;
    padding: 60px;
    background-color: #fff;
    min-height: 100vh;
    margin-left: auto;

    @media (max-width: 990px) {
      padding: 45px;
      width: 400px;
    }

    @media (max-width: 765px) {
      width: auto;
      padding: 30px;
    }

    .login-header {
      position: relative;
      .brand {
        .logo {
          height: 40px;
          width: 200px;
          background-image: url("../../../assets/vite.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
        b {
          font-weight: 700;
        }
        padding: 0;
        font-size: 28px;
        color: #1a2229;
        font-weight: 300;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        small {
          font-size: 14px;
          display: block;
          color: #6c757d;
          font-weight: 400;
        }
      }
    }

    .copyright {
      color: #6c757d;
      font-size: 13px;
      text-align: center;
    }
  }
  .news-feed {
    @media (max-width: 765px) {
      display: none;
    }
    @media (max-width: 990px) {
      right: 400px;
    }
    position: fixed;
    left: 0;
    right: 500px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    .news-image {
      background-image: url("../../../assets/img/bg-dashboard-3.png");
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .news-caption {
      color: rgba(255, 255, 255, 0.85);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 60px 60px 45px;
      font-size: 18px;
      letter-spacing: 0.25px;
      z-index: 20;
      font-weight: 300;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
      .caption-title {
        font-size: 28px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 5px;
        b {
          font-weight: 700;
        }
      }
    }
  }
}
</style>
