<template>
  <div class="login">
    <div class="news-feed">
      <div class="news-image" />
      <div class="news-caption">
        <h4 class="caption-title"><b>智慧</b>客服管理系统</h4>
        <p>
          依托前沿的云计算和物联网技术为用户提供智慧农业信息采集、栽培管理、智能控制、精准水肥、安全监测为一体的智能化软件,实现用业精准化、管理可视化及决策智能化.
        </p>
      </div>
    </div>

    <div class="login-container flex flex-col justify-center">
      <div class="login-header align-center mb-5 flex">
        <div class="brand">
          <div class="align-center flex">
            <b>用户注册</b>
          </div>
          <small class="mt-3">创建您的账户</small>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in-alt" />
        </div>
      </div>

      <div class="register-content">
        <el-form
          ref="passFormRef"
          :model="passForm"
          :rules="passFormRules"
          label-width="120px"
          label-position="top"
        >
          <el-form-item label="用户名" prop="username">
            <el-input v-model="passForm.username" placeholder="账户" />
          </el-form-item>
          <el-form-item label="密码" prop="password">
            <el-input
              v-model="passForm.password"
              autocomplete="new-password"
              show-password
              placeholder="密码"
            />
          </el-form-item>

          <el-form-item label="手机号" prop="phone">
            <el-input
              v-model="passForm.phone"
              show-password
              placeholder="手机号"
            />
          </el-form-item>

          <el-form-item label="短信验证码" prop="code">
            <div class="flex">
              <el-input
                v-model="passForm.code"
                show-password
                placeholder="短信验证码"
              />
              <div class="ml-5">
                <el-button>获取验证码</el-button>
              </div>
            </div>
          </el-form-item>

          <el-form-item class="mt-3">
            <el-button style="width: 100%" type="primary" :loading="loading"
              >立即注册</el-button
            >
          </el-form-item>
        </el-form>

        <div class="text-inverse mb-8 pb-5">
          已经拥有账号？点击
          <el-button text type="primary" @click="$router.push('/login')"
            >这里</el-button
          >
          登录。
        </div>

        <hr class="bg-gray-800" />
        <div class="copyright mt-4">© Zoyo All Right Reserved 2021</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      tab: 0,
      passForm: {
        username: "",
        password: "",
      },
      passFormRules: {
        username: [
          { required: true, message: "请输入账户", trigger: "change" },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "change" },
        ],
      },
      phoneForm: {
        telPhone: "",
        code: "",
      },
      phoneFormRules: {
        telPhone: [
          { required: true, message: "请输入账户", trigger: "change" },
        ],
        code: [{ required: true, message: "请输入验证码", trigger: "change" }],
      },
      loading: false,
    };
  },
  methods: {
    // passLogin() {
    //   this.$refs.passFormRef.validate((valid) => {
    //     if (valid) {
    //       this.loading = true;
    //       this.$store
    //         .dispatch("user/login", this.passForm)
    //         .then(() => {
    //           this.loading = false;
    //           this.$router.push({ path: "/" });
    //         })
    //         .catch(() => {
    //           this.loading = false;
    //         });
    //     }
    //   });
    // },
  },
};
</script>

<style lang="scss" scoped>
.text-gray-600,
.text-gray-600-500 {
  color: #6c757d !important;
}
.bg-gray-600,
.bg-gray-600-500 {
  background-color: #6c757d !important;
}
.opacity-2 {
  opacity: 0.2 !important;
}

.text-inverse,
.text-inverse-500 {
  color: #2d353c !important;
  font-size: 13px;
}

.login {
  min-height: 100vh;

  .login-container {
    width: 500px;
    padding: 60px;
    background-color: #fff;
    min-height: 100vh;
    margin-left: auto;

    @media (max-width: 990px) {
      padding: 45px;
      width: 400px;
    }

    @media (max-width: 765px) {
      width: auto;
      padding: 30px;
    }

    .login-header {
      position: relative;
      .brand {
        .logo {
          margin-right: 10px;
          height: 45px;
          width: 45px;
          background-image: url("../../../assets/svg/agriculture.svg");
          background-size: 100% 100%;
        }
        b {
          font-weight: 700;
        }
        padding: 0;
        font-size: 28px;
        color: #1a2229;
        font-weight: 300;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        small {
          font-size: 14px;
          display: block;
          color: #6c757d;
          font-weight: 400;
        }
      }
    }

    .copyright {
      color: #6c757d;
      font-size: 13px;
      text-align: center;
    }
  }
  .news-feed {
    @media (max-width: 765px) {
      display: none;
    }
    @media (max-width: 990px) {
      right: 400px;
    }
    position: fixed;
    left: 0;
    right: 500px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    .news-image {
      background-image: url("../../../assets/img/login-bg/login-bg-41.webp");
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .news-caption {
      color: rgba(255, 255, 255, 0.85);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 60px 60px 45px;
      font-size: 18px;
      letter-spacing: 0.25px;
      z-index: 20;
      font-weight: 300;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
      .caption-title {
        font-size: 28px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 5px;
        b {
          font-weight: 700;
        }
      }
    }
  }
}
</style>

<style lang="scss">
.register-content {
  .el-form--label-top .el-form-item__label {
    padding: 0 !important;
  }
  .el-form-item__label {
    line-height: 30px !important;
  }
}
</style>
