<!-- <template>
  <div class="login">
    <div class="news-feed">
      <div class="news-image" />
      <div class="news-caption">
        <h4 class="caption-title"><b>智慧</b>智慧农业管理平台</h4>
        <p>
          依托前沿的云计算和物联网技术为用户提供智慧农业信息采集、栽培管理、智能控制、精准水肥、安全监测为一体的智能化软件,实现用业精准化、管理可视化及决策智能化.
        </p>
      </div>
    </div>
    <div class="login-container flex flex-col justify-center">
      <div class="login-header align-center mb-5 flex">
        <div class="brand">
          <div class="align-center flex">
            <b>忘记密码</b>
          </div>
          <small class="mt-3">重置您的密码</small>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in-alt" />
        </div>
      </div>
      <div class="register-content">
        <el-form
          ref="passFormRef"
          :model="passForm"
          :rules="passFormRules"
          label-width="120px"
          label-position="top"
        >
          <el-form-item label="手机号" prop="telPhone">
            <el-input v-model="passForm.telPhone" placeholder="手机号" />
          </el-form-item>

          <el-form-item label="短信验证码" prop="code">
            <div class="flex">
              <el-input v-model="passForm.code" placeholder="短信验证码" />
              <div class="ml-5">
                <el-button :class="{ disabled: !canClick }"></el-button>
              </div>
            </div>
          </el-form-item>
          <el-form-item label="新密码" prop="pwd">
            <el-input
              v-model="passForm.pwd"
              autocomplete="new-password"
              show-password
              placeholder="新密码"
            />
          </el-form-item>
          <el-form-item label="确认密码" prop="confirm">
            <el-input
              v-model="passForm.confirm"
              autocomplete="new-password"
              show-password
              placeholder="确认密码"
            />
          </el-form-item>

          <el-form-item class="mt-3">
            <el-button style="width: 100%" type="primary" :loading="loading"
              >立即重置</el-button
            >
          </el-form-item>
        </el-form>

        <div class="text-inverse mb-8 pb-5">
          已经拥有账号？点击
          <el-button text type="primary" @click="$router.push('/login')"
            >这里</el-button
          >
          登录。
        </div>

        <hr class="bg-gray-800" />
        <div class="copyright mt-4">
          © FUTURE INSIGHT All Right Reserved 2021
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
// import cryptoJs from "crypto-js";
// import { useRoute, useRouter } from "vue-router";

// import { accessKey, getPwdCode, updatePwd } from "@/api/auth";

// import { useUserStore } from "@/store/modules/user";

// const $router = reactive(useRouter());

// const loading = ref(false);
// const canClick = ref(true);
// const model = () => ({
//   telPhone: "",
//   code: "",
//   pwd: "",
//   confirm: "",
//   userKey: "",
// });
const passForm = reactive({
  telPhone: "",
  code: "",
  pwd: "",
  confirm: "",
  userKey: "",
});
const passFormRef = ref(null);
// const passForm = ref(model());
// const checkPassword = (rule, value, callback) => {
//   if (`${value}`.length > 0) {
//     if (passForm.value.pwd !== value) {
//       callback(new Error("两次输入的密码不一致!"));
//     } else {
//       callback();
//     }
//   } else {
//     callback(new Error("请输入确认密码"));
//   }
// };
const passFormRules = reactive({
  telPhone: [{ required: true, message: "请输入手机号", trigger: "change" }],
  code: [{ required: true, message: "请输入验证码", trigger: "change" }],
  pwd: [{ required: true, message: "请输入密码", trigger: "change" }],
  confirm: [{ required: true, validator: checkPassword, trigger: "change" }],
});
// const getCode = () => {
//   passFormRef.value.validateField("telPhone", (valid) => {
//     if (valid) {
//       if (!canClick.value) {
//         return false;
//       }
//       getPwdCode(passForm.value.telPhone).then((res) => {});
//       canClick.value = false;
//       content.value = `${totalTime.value}s后重新发送`;
//       const clock = window.setInterval(() => {
//         totalTime.value -= 1;
//         content.value = `${totalTime.value}s后重新发送`;
//         if (totalTime.value < 0) {
//           window.clearInterval(clock);
//           content.value = "重新发送验证码";
//           totalTime.value = 5;
//           canClick.value = true;
//         }
//       }, 1000);
//     }
//   });
// };
// const passLogin = () => {
//   passFormRef.value.validate((valid) => {
//     if (valid) {
//       loading.value = true;
//       accessKey().then((res) => {
//         const { tokenkey, userkey } = res;
//         const tokenKey = cryptoJs.enc.Utf8.parse(tokenkey);
//         const passwordS = cryptoJs.AES.encrypt(
//           cryptoJs.enc.Utf8.parse(passForm.value.pwd),
//           tokenKey,
//           {
//             iv: tokenKey,
//             mode: cryptoJs.mode.CBC,
//             padding: cryptoJs.pad.Pkcs7,
//           }
//         ).toString();
//         passForm.value.pwd = passwordS;
//         passForm.value.confirm = passwordS;
//         passForm.value.userKey = userkey;
//         updatePwd(passForm.value).then(
//           () => {
//             loading.value = false;
//             ElMessage({
//               type: "success",
//               message: "操作成功",
//             });
//             userStore.resetToken();
//             $router.push("/login");
//           },
//           () => {
//             passFormRef.value.resetFields();
//             loading.value = false;
//           }
//         );
//       });
//     }
//   });
// };
</script>

<style lang="scss" scoped>
.disabled {
  background-color: #ddd;
  border-color: #ddd;
  color: #57a3f3;
  cursor: not-allowed;
}
.text-gray-600,
.text-gray-600-500 {
  color: #6c757d !important;
}
.bg-gray-600,
.bg-gray-600-500 {
  background-color: #6c757d !important;
}
.opacity-2 {
  opacity: 0.2 !important;
}

.text-inverse,
.text-inverse-500 {
  color: #2d353c !important;
  font-size: 13px;
}

.login {
  min-height: 100vh;

  .login-container {
    width: 500px;
    padding: 60px;
    background-color: #fff;
    min-height: 100vh;
    margin-left: auto;

    @media (max-width: 990px) {
      padding: 45px;
      width: 400px;
    }

    @media (max-width: 765px) {
      width: auto;
      padding: 30px;
    }

    .login-header {
      position: relative;
      .brand {
        .logo {
          margin-right: 10px;
          height: 45px;
          width: 45px;
          background-image: url("../../../assets/svg/agriculture.svg");
          background-size: 100% 100%;
        }
        b {
          font-weight: 700;
        }
        padding: 0;
        font-size: 28px;
        color: #1a2229;
        font-weight: 300;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        small {
          font-size: 14px;
          display: block;
          color: #6c757d;
          font-weight: 400;
        }
      }
    }

    .copyright {
      color: #6c757d;
      font-size: 13px;
      text-align: center;
    }
  }
  .news-feed {
    @media (max-width: 765px) {
      display: none;
    }
    @media (max-width: 990px) {
      right: 400px;
    }
    position: fixed;
    left: 0;
    right: 500px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    .news-image {
      background-image: url("../../../assets/img/login-bg/login-bg-41.webp");
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .news-caption {
      color: rgba(255, 255, 255, 0.85);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 60px 60px 45px;
      font-size: 18px;
      letter-spacing: 0.25px;
      z-index: 20;
      font-weight: 300;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
      .caption-title {
        font-size: 28px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 5px;
        b {
          font-weight: 700;
        }
      }
    }
  }
}
</style>

<style lang="scss">
.register-content {
  .el-form--label-top .el-form-item__label {
    padding: 0 !important;
  }
  .el-form-item__label {
    line-height: 30px !important;
  }
}
</style> -->
