<template>
  <div
    :style="{ padding: props.padding }"
    class="layout-classic flex"
    :class="!props.row ? 'flex-col' : 'flex-row'"
  >
    <el-card v-if="slots.extend && props.row" class="extend-card" shadow="never">
      <div v-if="slots.extHeader" class="header">
        <slot name="extHeader"></slot>
      </div>

      <slot name="extend"></slot>
    </el-card>

    <el-card shadow="never" class="body flex-1" :class="props.row ? 'card-row' : 'card-col'">
      <div v-if="slots.header" class="header">
        <slot name="header"></slot>
      </div>

      <div v-if="slots.extend && !props.row" class="extend-card">
        <slot name="extend"></slot>
      </div>

      <div class="body-content" :style="slots.footer ? 'max-height: calc(100% - 45px);' : ''">
        <slot name="body"></slot>
      </div>
      <div v-if="slots.footer" class="footer">
        <slot name="footer"></slot>
      </div>
    </el-card>
  </div>
</template>

<script setup>
  const props = defineProps({
    row: {
      type: Boolean,
      default: false,
    },
    padding: {
      type: String,
      default: '15px',
    },
  });

  const slots = useSlots();
</script>

<style lang="scss">
  .layout-classic {
    box-sizing: border-box;

    .extend-card {
      background-color: #ffffff;
      border-bottom: 1px solid rgb(229, 230, 235);
      padding: 10px;

      &:has(.el-form) {
        padding-bottom: 0px;
      }

      .el-card__body {
        height: 100%;
        padding: 10px !important;
      }

      .el-form-item:has(.el-button) {
        margin-right: 0px !important;
      }

      .el-form-item__content {
        width: 200px;
      }

      .not-limit {
        .el-form-item__content {
          width: auto;
        }
      }

      .el-form-item__content:has(.el-range-editor) {
        width: 380px;
      }
    }

    // .card-col {
    //   margin-top: 10px;
    // }

    .card-row {
      margin-left: 10px;
    }

    .body {
      &.el-card {
        border-radius: 4px !important;
        border: none;
      }
      .el-card__body {
        padding: 0px !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        .body-content {
          flex: 1;
        }
      }
      .header {
        border-bottom: 1px solid #eeeeef;
        min-height: 60px;
      }

      .footer {
        flex-shrink: 0;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 15px;
      }
    }
  }
</style>

<style lang="scss">
  .extend-card {
    .el-form-item {
      margin-bottom: 10px !important;
      .el-form-item__label {
        font-weight: 500;
      }
    }
  }
</style>
