<template>
  <editor v-model="richText" :tinymce-script-src="tinymceScriptSrc" :init="tinyProps" />
</template>

<script setup>
  import Editor from '@tinymce/tinymce-vue';

  import TinyMCEUploadHandler from './upload';

  const tinymceScriptSrc = computed(
    () => `${import.meta.env.VITE_APP_TINYMCE_URL}tinymce/tinymce.min.js`
  );

  const props = defineProps({
    modelValue: {
      type: String,
      required: true,
    },
  });

  const emits = defineEmits(['update:modelValue']);

  const tinyProps = ref({
    //   language_url: '/langs/zh_CN.js',
    // init_instance_callback: initInstanceCallback,
    language: 'zh-Hans',
    height: 300,
    menubar: 'file edit view insert format tools table tc help',

    plugins:
      'quickbars autosave autolink  lists link image table code help wordcount emoticons fullscreen help image insertdatetime media nonbreaking preview anchor',
    images_upload_handler: TinyMCEUploadHandler,
    paste_data_images: true,
    branding: false,
    toolbar:
      // eslint-disable-next-line no-multi-str
      'undo redo | formatselect | bold italic backcolor | \
         fontsizeselect formatselect| \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat',
  });

  const richText = ref(props.modelValue);

  watch(richText, () => {
    emits('update:modelValue', richText.value);
  });
</script>
