<template>
  <!-- <div class="n-layout-tab-container">
    <div class="n-layout-tabs">
      <div class="n-tab-item">仪表盘</div>
      <div class="n-tab-item is-active is-closeable">
        用户中心
        <el-icon class="el-icon-close"><Close /></el-icon>
      </div>
      <div class="n-tab-item is-closeable">管理平台中心</div>
    </div>
  </div> -->

  <div class="n-layout-tab-container flex justify-between">
    <div class="tab-bg"></div>
    <el-scrollbar
      ref="scrollContainer"
      :vertical="false"
      class="scroll-container"
      @wheel.prevent="handleScroll"
    >
      <div class="n-layout-tabs">
        <div
          v-for="item in visitedViews"
          :key="item.path"
          ref="tagsRef"
          class="n-tab-item is-closeable"
          :class="{ 'is-active': isActive(item) }"
          @click="setCurrentView(item)"
        >
          <span>
            <el-dropdown
              trigger="contextmenu"
              @command="handleContextCommand($event, item)"
            >
              <span class="tab-text">{{ item.title }}</span>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item command="refresh"
                    >重新加载</el-dropdown-item
                  >
                  <el-dropdown-item command="close"
                    >关闭标签页</el-dropdown-item
                  >
                  <el-dropdown-item divided command="closeLeft"
                    >关闭左侧标签页</el-dropdown-item
                  >
                  <el-dropdown-item command="closeRight"
                    >关闭右侧标签页</el-dropdown-item
                  >
                  <el-dropdown-item divided command="closeOther"
                    >关闭其他标签页</el-dropdown-item
                  >
                  <el-dropdown-item command="closeAll"
                    >关闭全部标签页</el-dropdown-item
                  >
                </el-dropdown-menu>
              </template>
            </el-dropdown>
          </span>
          <el-icon
            class="el-icon-close"
            @click.stop="handleContextCommand('close', item)"
            ><i-ep-close
          /></el-icon>
          <!-- <el-icon class="close-btn ml-1" @click.stop="handleContextCommand('close', item)">
            <Element-Close :size="8" />
          </el-icon> -->
        </div>
      </div>
    </el-scrollbar>

    <div class="action flex items-center">
      <div class="action-button">
        <el-dropdown @command="handleContextCommand($event, $route)">
          <el-icon :size="18">
            <i-ep-arrow-down />
          </el-icon>

          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item command="refresh">重新加载</el-dropdown-item>
              <el-dropdown-item command="close">关闭标签页</el-dropdown-item>
              <el-dropdown-item divided command="closeLeft"
                >关闭左侧标签页</el-dropdown-item
              >
              <el-dropdown-item command="closeRight"
                >关闭右侧标签页</el-dropdown-item
              >
              <el-dropdown-item divided command="closeOther"
                >关闭其他标签页</el-dropdown-item
              >
              <el-dropdown-item command="closeAll"
                >关闭全部标签页</el-dropdown-item
              >
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
      <div class="action-button" @click="toggleFullWindow">
        <el-icon v-if="!fullWindow" :size="18">
          <FullWindow />
        </el-icon>
        <el-icon v-else :size="18">
          <NormalWindow />
        </el-icon>
      </div>
      <div class="action-button">
        <el-icon :size="18" @click="handleContextCommand('refresh', $route)">
          <i-ep-refresh-right />
        </el-icon>
      </div>
    </div>
  </div>
</template>

<script setup>
import FullWindow from "@/assets/svg/full-window.svg";
import NormalWindow from "@/assets/svg/normal-window.svg";
import { cloneDeep } from "lodash-es";
import pathBrowserify from "path-browserify";
import Sortable from "sortablejs";
import { useRoute, useRouter } from "vue-router";

import whiteList from "@/router/routes/white-list";

import { useAppStore } from "@/store/modules/app";
import { userAppStore } from "@/store/modules/user";

const $route = useRoute();
const $router = useRouter();

const appStore = useAppStore();
const userStore = userAppStore();
const visitedViews = computed(() => appStore.visitedViews);
const permissionRoutes = computed(() => userStore.routes);

const isMobile = computed(() => appStore.device === "mobile");
const fullWindow = computed(() => appStore.fullWindow);
const sidebarOpen = computed(() => appStore.sidebarOpen);

const filterAffixTags = (routes, basePath = "/") => {
  let tags = [];
  routes.forEach((route) => {
    if (route.meta && route.meta.affix) {
      const tagPath = pathBrowserify.resolve(basePath, route.path);
      tags.push({
        fullPath: tagPath,
        path: tagPath,
        name: route.name,
        meta: { ...route.meta },
      });
    }
    if (route.children) {
      const tempTags = filterAffixTags(route.children, route.path);
      if (tempTags.length >= 1) {
        tags = [...tags, ...tempTags];
      }
    }
  });
  return tags;
};

const initTags = () => {
  const affixTags = filterAffixTags(permissionRoutes.value);

  affixTags.forEach((tag) => {
    if (tag.name) {
      appStore.addVisitedView(tag);
    }
  });
};

const addTag = () => {
  const { name, path } = $route;

  if (name && name !== "Redirect" && !whiteList.some((v) => v === path)) {
    appStore.addView($route);
  }
};

initTags();
addTag();

onMounted(() => {
  enableSort();
});

watch($route, () => {
  addTag();
  moveToCurrentTag();
});

const isActive = (route) => {
  return $route.path === route.path;
};

const setCurrentView = (view) => {
  $router.push({ name: view.name });
};

const toLastView = (view) => {
  const latestView = visitedViews.value.slice(-1)[0];

  if (latestView) {
    $router.push(latestView.fullPath);
  } else if (view.name === "Dashboard") {
    $router.push({
      name: "Redirect",
      params: {
        _redirect_type: "path",
        path: view.fullPath,
      },
    });
  } else {
    $router.push("/");
    // $router.replace('/');
  }
};

const refreshPage = () => {};

const handleContextCommand = (command, view) => {
  switch (command) {
    case "refresh":
      appStore.delCachedView(view);
      nextTick(() => {
        // $router.push({
        //   name: 'Redirect',
        //   params: {
        //     _redirect_type: 'path',
        //     path: view.fullPath,
        //   },
        // });
        $router.push({
          path: `/redirect${unref($route).fullPath}`,
        });
      });
      break;
    case "close":
      appStore.delView(view);
      if (isActive(view)) {
        toLastView(view);
      }
      break;
    case "closeLeft":
      appStore.delLeftView(view);
      break;
    case "closeRight":
      appStore.delRightView(view);
      break;
    case "closeOther":
      appStore.delOtherView(view);
      toLastView(view);
      break;
    case "closeAll":
      appStore.delAllView();
      toLastView(view);
      break;
    default:
      break;
  }
};

const toggleFullWindow = () => {
  appStore.toggleFullWindow();
};

const scrollContainer = ref(null);
const scrollWrapper = computed(() => scrollContainer.value.wrapRef);
const tagsRef = ref([]);

const handleScroll = (e) => {
  const eventDelta = e.wheelDelta || -e.deltaY * 40;
  scrollWrapper.value.scrollLeft -= eventDelta / 4;
};

const moveToCurrentTag = () => {
  const currentView = visitedViews.value.find((view) => isActive(view));
  const containerW = scrollContainer.value.$el.offsetWidth;

  if (currentView) {
    const index = visitedViews.value.findIndex((view) => isActive(view));
    if (index === 0) {
      scrollContainer.value.setScrollLeft(0);
    } else if (index === visitedViews.value.length - 1) {
      scrollContainer.value.setScrollLeft(
        scrollWrapper.value.scrollWidth - containerW
      );
    } else {
      const tagAndTagSpacing = 4;
      const prevTag = tagsRef.value[index - 1];
      const nextTag = tagsRef.value[index + 1];

      // the tag's offsetLeft after of nextTag
      const afterNextTagOffsetLeft =
        nextTag.offsetLeft + nextTag.offsetWidth + tagAndTagSpacing;

      // the tag's offsetLeft before of prevTag
      const beforePrevTagOffsetLeft = prevTag.offsetLeft - tagAndTagSpacing;

      if (
        afterNextTagOffsetLeft >
        scrollWrapper.value.scrollLeft + containerW
      ) {
        scrollContainer.value.setScrollLeft(
          afterNextTagOffsetLeft - containerW
        );
      } else if (beforePrevTagOffsetLeft < scrollWrapper.value.scrollLeft) {
        scrollContainer.value.setScrollLeft(beforePrevTagOffsetLeft);
      }
    }
  }
};

const enableSort = () => {
  const el = document.querySelector(".n-layout-tabs");
  Sortable.create(el, {
    animation: 500,
    delay: 400,
    delayOnTouchOnly: true,
    onEnd: ({ newIndex, oldIndex }) => {
      const tags = cloneDeep(tagsRef.value);

      if (oldIndex > newIndex) {
        tags.splice(newIndex, 0, tags[oldIndex]);
        tags.splice(oldIndex + 1, 1);
      } else {
        tags.splice(newIndex + 1, 0, tags[oldIndex]);
        tags.splice(oldIndex, 1);
      }
      tagsRef.value = tags;

      const views = cloneDeep(visitedViews.value);
      if (oldIndex > newIndex) {
        views.splice(newIndex, 0, views[oldIndex]);
        views.splice(oldIndex + 1, 1);
      } else {
        views.splice(newIndex + 1, 0, views[oldIndex]);
        views.splice(oldIndex, 1);
      }
      appStore.setVisitedViews(views);
    },
  });
};
</script>

<style lang="scss" scoped>
.n-layout-tab-container {
  padding-left: 20px;
  padding-right: 20px;

  // height: 32px;
  // overflow: hidden;
  position: relative;
  .tab-bg {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
  }

  .scroll-container {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;
  }

  .n-layout-tabs {
    white-space: nowrap;
    position: relative;
    transition: transform 0.3s;
    float: left;
    z-index: 2;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    border: 0;

    width: calc(100% - 110px);
    // background-color: rebeccapurple;

    .n-tab-item {
      padding: 0 30px 0 30px;
      font-size: 14px;
      height: 32px;
      // margin-top: 5.95px;
      margin-right: -18px;
      line-height: 38px;
      text-align: center;
      border: 0;
      outline: none;
      transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
      box-sizing: border-box;
      color: #626b7d;
      display: inline-block;
      font-weight: 500;
      position: relative;
      cursor: pointer;

      .el-icon-close {
        position: relative;
        font-size: 12px;
        width: 0;
        height: 14px;
        vertical-align: middle;
        line-height: 15px;
        overflow: hidden;
        top: -1px;
        right: -2px;
        transform-origin: 100% 50%;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin-left: 5px;

        &:hover {
          color: #fff;
          background-color: #c0c4cc;
        }
      }

      &:hover {
        color: #515a6e !important;
        background: #dee1e6;
        padding: 0 30px 0 30px;
        -webkit-mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANoAAAAkBAMAAAAdqzmBAAAAMFBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlTPQ5AAAAD3RSTlMAr3DvEM8wgCBA379gj5//tJBPAAAAnUlEQVRIx2NgAAM27fj/tAO/xBsYkIHyf9qCT8iWMf6nNQhAsk2f5rYheY7Dnua2/U+A28ZEe8v+F9Ax2v7/F4DbxkUH2wzgtvHTwbYPo7aN2jZq26hto7aN2jZq25Cy7Qvctnw62PYNbls9HWz7S8/G6//PsI6H4396gAUQy1je08W2jxDbpv6nD4gB2uWp+J9eYPsEhv/0BPS1DQBvoBLVZ3BppgAAAABJRU5ErkJggg==);
        mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANoAAAAkBAMAAAAdqzmBAAAAMFBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlTPQ5AAAAD3RSTlMAr3DvEM8wgCBA379gj5//tJBPAAAAnUlEQVRIx2NgAAM27fj/tAO/xBsYkIHyf9qCT8iWMf6nNQhAsk2f5rYheY7Dnua2/U+A28ZEe8v+F9Ax2v7/F4DbxkUH2wzgtvHTwbYPo7aN2jZq26hto7aN2jZq25Cy7Qvctnw62PYNbls9HWz7S8/G6//PsI6H4396gAUQy1je08W2jxDbpv6nD4gB2uWp+J9eYPsEhv/0BPS1DQBvoBLVZ3BppgAAAABJRU5ErkJggg==);
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
      }

      &.is-closeable {
        &:hover {
          .el-icon-close {
            width: 14px;
          }
          // padding-left: 13px;
          // padding-right: 13px;
        }
      }

      &.is-active {
        padding: 0 30px 0 30px;
        -webkit-mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANoAAAAkBAMAAAAdqzmBAAAAMFBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlTPQ5AAAAD3RSTlMAr3DvEM8wgCBA379gj5//tJBPAAAAnUlEQVRIx2NgAAM27fj/tAO/xBsYkIHyf9qCT8iWMf6nNQhAsk2f5rYheY7Dnua2/U+A28ZEe8v+F9Ax2v7/F4DbxkUH2wzgtvHTwbYPo7aN2jZq26hto7aN2jZq25Cy7Qvctnw62PYNbls9HWz7S8/G6//PsI6H4396gAUQy1je08W2jxDbpv6nD4gB2uWp+J9eYPsEhv/0BPS1DQBvoBLVZ3BppgAAAABJRU5ErkJggg==);
        mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANoAAAAkBAMAAAAdqzmBAAAAMFBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlTPQ5AAAAD3RSTlMAr3DvEM8wgCBA379gj5//tJBPAAAAnUlEQVRIx2NgAAM27fj/tAO/xBsYkIHyf9qCT8iWMf6nNQhAsk2f5rYheY7Dnua2/U+A28ZEe8v+F9Ax2v7/F4DbxkUH2wzgtvHTwbYPo7aN2jZq26hto7aN2jZq25Cy7Qvctnw62PYNbls9HWz7S8/G6//PsI6H4396gAUQy1je08W2jxDbpv6nD4gB2uWp+J9eYPsEhv/0BPS1DQBvoBLVZ3BppgAAAABJRU5ErkJggg==);
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;

        background: #e8f4ff !important;
        .el-icon-close {
          color: rgb(24, 144, 255);
          &:hover {
            background: rgb(24, 144, 255);
            color: #fff;
          }
        }
        .tab-text {
          color: #1890ff !important;
        }
      }
    }
  }

  .action {
    padding-left: 10px;
    width: 110px;
    // background-color: palegoldenrod;
    .action-button {
      // border-left: 1px solid #d9d9d9;
      width: 36px;
      height: 30px;
      padding-bottom: 6px;
      // color: rgba(0, 0, 0, 0.45);
      color: #404245;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

html.dark {
  // var(--el-fill-color-lighter);
  .n-layout-tab-container {
    background: var(--el-card-bg-color);
  }
  .n-layout-tabs {
    .n-tab-item {
      &:hover {
        background-color: var(--el-table-row-hover-bg-color) !important;
      }

      &.is-active {
        background-color: var(--el-table-row-hover-bg-color) !important;

        .tab-text {
          color: var(--el-text-color-regular) !important;
        }

        .el-icon-close {
          color: var(--el-text-color-regular) !important;
          &:hover {
            background-color: var(--el-table-row-hover-bg-color) !important;
            color: var(--el-text-color-regular) !important;
          }
        }
      }
    }
  }
}
</style>
