<template>
  <el-main class="layout-main">
    <el-scrollbar ref="scrollbarRef" class="scrollbar" style="height: 100%">
      <RouterView>
        <template #default="{ Component, route }">
          <component :is="Component" :key="route.fullPath" />
        </template>
      </RouterView>
    </el-scrollbar>
    <el-backtop
      target=".layout-main .el-scrollbar__wrap"
      :bottom="130"
      :right="80"
    >
    </el-backtop>
  </el-main>
</template>

<script setup>
const scrollbarRef = ref(null);
provide("scrollbarRef", scrollbarRef);
</script>

<style lang="scss" scoped>
.layout-main {
  background-color: rgb(242, 243, 244);
  box-sizing: border-box;
  padding: 0px;
  height: 100%;
}

html.dark {
  .layout-main {
    background-color: #141414;
  }
}
</style>
