.el-container {
  height: 100%;
}

.el-aside {
  transition: 0.1s;
}

.el-dropdown {
  vertical-align: initial !important;
}

.el-dropdown-menu {
  padding: 0 !important;
}

.el-dropdown-menu__item--divided {
  margin: 0px !important;
  margin-top: 0px !important;
}

.el-dropdown-menu__item--divided:before {
  height: 0px !important;
}

.el-drawer__body {
  height: 100%;
  padding: 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.el-table__body-wrapper {
  .el-scrollbar__view {
    height: 100%;
  }
}

.el-input__suffix,
.el-input__prefix-inner,
.el-input__suffix-inner {
  align-items: center;
}

.el-tree-node.is-current {
  background-color: #f5f7fa;
}

.el-menu {
  border: none !important;
  overflow: hidden;
  user-select: none;
  width: calc(100%);
  --el-menu-item-height: 42px !important;
  .el-sub-menu .el-menu-item {
    height: 42px !important;
    line-height: 42px !important;
  }
}

.el-menu.el-menu--inline {
  padding: 0px;
  padding-left: 10px;
}

.el-sub-menu .el-menu-item {
  min-width: auto !important;
}

.el-input.el-input--default {
  background-color: #fff;
}

.el-form--inline .el-form-item {
  margin-right: 20px !important;
}

.el-board {
  background: #f7f7f7;
  padding: 20px;
  border: 1px solid #e8eae9;
}

.el-table .cell.el-tooltip {
  text-align: left;
}

.el-cascader-panel {
  background-color: #fff;
}

.el-descriptions + .el-descriptions {
  margin-top: 15px;
}

.el-radio-group {
  .el-radio.is-bordered {
    margin-bottom: 10px;
  }
}

.el-input__wrapper {
  width: 100%;
}

.el-button.is-text + .el-button.is-text {
  margin-left: 0 !important;
}

.el-range-editor.el-input__inner {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

// element ui 和 tiny-mce
.tox-tinymce-aux {
  z-index: 9999 !important;
}

.el-select {
  width: 100%;
}

.el-tree-node__label {
  width: 100%;
}

.el-form-item:not(.is-required) > .el-form-item__label {
  padding-left: 10px;
}

.el-table--fit {
  .el-button.is-text {
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
  }
}
