@import './element-ui.scss';
@import './sidebar.scss';

// 清除Chrome自动填充颜色
input {
  background-color: rgba(255, 255, 255, 0) !important;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #333 !important;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

@-webkit-keyframes enter-x-animation {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes enter-x-animation {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.enter-x:nth-child(1) {
  transform: translate(50px);
}

.-enter-x:nth-child(1) {
  transform: translate(-50px);
}

.enter-x:nth-child(1),
.-enter-x:nth-child(1) {
  z-index: 9;
  opacity: 0;
  -webkit-animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.enter-x:nth-child(2) {
  transform: translate(50px);
}

.-enter-x:nth-child(2) {
  transform: translate(-50px);
}

.enter-x:nth-child(2),
.-enter-x:nth-child(2) {
  z-index: 8;
  opacity: 0;
  -webkit-animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

// 滚动条整体宽度
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
// 滚动条滑槽样式
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  // border-radius: 8px;
}
// 滚动条样式
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ddd;
  -webkit-box-shadow: inset 0 0 6px #e5e7eb;
  box-shadow: inset 0 0 6px #e5e7eb;
}
::-webkit-scrollbar-thumb:hover {
  background: #90939980;
}
::-webkit-scrollbar-thumb:active {
  background: #90939980;
}
// 浏览器失焦的样式
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1);
}

.h-view-height {
  min-height: calc(100vh - 130px);
}
