$menuText: #1c1f23;
$menuBg: #282c34;
$subMenuBg: #f9f9f9;
$activeMenuBg: #eaf5ff;

.layout-menu {
  background-color: $menuBg;
  height: 100%;
  width: 100%;
  font-size: 14px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;

  box-sizing: border-box;

  overflow: hidden;
  .scrollbar {
    height: calc(100% - 50px);
    .el-scrollbar__wrap {
      overflow-x: hidden;
    }
  }

  .menu-action {
    box-sizing: border-box;
    height: 50px;
    padding: 10px;

    .menu-btn {
      cursor: pointer;
      padding-right: 12px;
    }
  }

  .el-menu-item.is-active {
    background-color: #5470c6;
    border-radius: 5px !important;
  }

  .el-menu-item {
    span {
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
    }
  }
}
