<template>
  <el-select
    v-model="modelValue"
    clearable
    filterable
    style="width: 100%"
    @change="updateArea"
  >
    <el-option
      v-for="item in areaCodeList"
      :key="item.id"
      :label="item.position"
      :value="item.id"
    ></el-option>
  </el-select>
</template>

<script setup>
// import { gbCityCode } from '@/api/common';

const props = defineProps({
  modelValue: {
    type: String,
    default: "",
  },
  parentId: {
    type: String,
    default: "",
  },
});

const { modelValue, parentId } = toRefs(props);

const emits = defineEmits(["update:modelValue", "change"]);

const areaCodeList = ref([]);
const getAreaCodeList = () => {
  gbCityCode(props.parentId).then((res) => {
    areaCodeList.value = res.rows;
  });
};
if (parentId.value) {
  getAreaCodeList();
}

watch(
  () => props.parentId,
  () => {
    getAreaCodeList();
  }
);

const updateArea = (e) => {
  emits("change", e);
  emits("update:modelValue", e);
};

const getOptions = () => {
  return areaCodeList.value;
};

defineExpose({
  getOptions,
});
</script>
