<template>
  <el-cascader
    ref="areaSelectRef"
    v-model="areaCode"
    :props="cascaderProps"
    style="width: 400px"
    clearable
    @change="updateArea"
  />
</template>

<script setup>
  // import { gbCityCode } from '@/api/common';

  const areaSelectRef = ref(null);

  const props = defineProps({
    areaCode: {
      type: Array,
      default: () => {
        return [];
      },
    },
    areaName: {
      type: Array,
      default: () => {
        return [];
      },
    },
    deep: {
      type: Number,
      default: 5,
    },
    checkStrictly: {
      type: Boolean,
      default: false,
    },
    defaultCode: {
      type: Array,
      default: () => [],
    },
  });

  const emits = defineEmits(['update:areaCode', 'update:areaName', 'change']);

  const cascaderProps = {
    lazy: true,
    label: 'position',
    value: 'id',
    checkStrictly: props.checkStrictly,
    lazyLoad(node, resolve) {
      const { level, value } = node;

      gbCityCode(level === 0 ? '' : value).then((res) => {
        if (level === 4 || level === props.deep - 1) {
          resolve(
            res.rows.map((v) => {
              const m = v;
              m.leaf = true;
              return m;
            })
          );
        } else {
          gbCityCode(level === 0 ? '' : value).then((resp) => {
            resolve(resp.rows);
          });
        }
      });
    },
  };

  const { areaCode } = toRefs(props);

  const updateArea = (e) => {
    let labels = [];
    if (areaSelectRef.value.getCheckedNodes().length > 0) {
      labels = areaSelectRef.value.getCheckedNodes()[0].pathLabels;
    }

    emits('change', e);
    emits('update:areaCode', e);
    emits('update:areaName', labels);
  };
</script>
