<template>
  <el-dialog-ext v-model="dialog.show" title="客户详述" width="1200px">
    <el-des-ext title="主体信息" :width="1200" :column="4" :data="infoData.custUser"> </el-des-ext>

    <el-tabs v-model="activeName">
      <el-tab-pane
        v-for="item in infoData.addrInfoList"
        :key="item.code"
        :label="item.addr"
        :name="item.code"
      >
        <el-des-ext
          label-width="70px"
          label-align="center"
          :width="1200"
          :column="3"
          :data="getCustInfo(item)"
        >
          <template #meter="scope">
            <el-des-ext :column="3" :data="getMeterData(scope.slotData)"> </el-des-ext>
          </template>
          <template #product="scope">
            <el-des-ext :column="3" :data="getProdData(scope.slotData)"> </el-des-ext>
          </template>

          <template #price="scope">
            <div
              v-if="scope.slotData.ladderLevel > 1 && scope.slotData.productDetailList"
              class="m-2"
            >
              <div class="flex">
                <div class="slider-span"></div>
                <div
                  v-for="pd in scope.slotData.productDetailList"
                  :key="pd.id"
                  class="slider-text"
                >
                  {{ pd.endNum }}
                </div>
              </div>
              <div class="flex rounded-3xl" style="overflow: hidden">
                <div
                  v-for="(ps, pi) in scope.slotData.productDetailList.length"
                  :key="pi"
                  class="slider flex items-center justify-center"
                  :class="'bg-blue-' + (200 + (pi - 1) * 100)"
                >
                  {{
                    scope.slotData.productDetailList[pi]
                      ? scope.slotData.productDetailList[pi].price
                      : ''
                  }}
                </div>
              </div>
              <div
                class="current-box"
                :style="{ marginLeft: (scope.slotData.stairNum - 1) * 150 + 'px' }"
              >
                <div class="mt-2 flex flex-col items-center justify-center">
                  <div class="current"></div>
                  <div>已用量:{{ scope.slotData.cycleUseQty }}</div>
                </div>
              </div>
            </div>
          </template>

          <template #meter-info="meter">
            <div class="flex justify-center">
              <el-link
                v-if="!meter.slotData.show"
                class="mt-1"
                type="primary"
                @click="meter.slotData.show = true"
                >显示更多</el-link
              >
            </div>
          </template>
        </el-des-ext>
      </el-tab-pane>
    </el-tabs>
  </el-dialog-ext>

  <!-- 处理css摇树 勿删 -->
  <div v-show="false">
    <div class="bg-blue-100"></div>
    <div class="bg-blue-200"></div>
    <div class="bg-blue-300"></div>
    <div class="bg-blue-400"></div>
    <div class="bg-blue-500"></div>
    <div class="bg-blue-600"></div>
    <div class="bg-blue-700"></div>
  </div>
  <!-- 处理css摇树 勿删 -->
</template>

<script setup>
  import { getCustIdentityData } from '@/api/query/general';

  const dialog = reactive({
    show: false,
    isEdit: false,
    isLoading: false,
  });

  const infoData = reactive({
    addrInfoList: [],
    custUser: {
      data: {},
      column: [
        { title: '客户名称', key: 'name' },
        { title: '注册电话', key: 'phone' },
        { title: '客户类型', key: 'type', dic: true },
        { title: '开户日期', key: 'openDate' },
        {
          title: '行业类型',
          key: 'industryTypeName',
          func: (v) => (v ? v.join('/') : ''),
          span: 2,
        },
        { title: '客户等级', key: 'level', dic: true },
        { title: '欠费金额', key: 'arrearageSum' },
      ],
    },
  });

  const getCustInfo = (data) => {
    return {
      data,
      column: [
        { title: '用户号', key: 'code' },
        { title: '开户日期', key: 'openDate' },
        { title: '地址状态', key: 'state', dic: true },
        { title: '人口数', key: 'familySize' },
        { title: '服务点类型', key: 'spType', dic: true },
        { title: '房屋类型', key: 'houseType', dic: true },
        { title: '服务地址', key: 'fullAddr', span: 3 },

        ...data.addrMeterList.map((v, vi) => {
          return {
            title: `表具${vi + 1}`,
            slotName: 'meter',
            slotData: v,
            span: 3,
            extendSlotName: 'meter-info',
          };
        }),

        ...data.productInfoList.map((v, vi) => {
          return {
            title: `产品${vi + 1}`,
            slotName: 'product',
            span: 3,
            slotData: v,
            extendSlotName: 'price',
          };
        }),
      ],
    };
  };

  const getProdData = (data) => {
    return {
      data,
      column: [
        { title: '产品编号', key: 'code' },
        { title: '产品名称', key: 'name', span: 2 },
        { title: '产品标志', key: 'mark' },
        { title: '费用类型', key: 'feeType', dic: true },
        { title: '协议类型', key: 'prodGrpFlg', dic: true },
        { title: '合同号', key: 'contractNo', span: 2 },
        { title: '价格', key: 'amt' },
        { title: '已用量', key: 'cycleUseQty' },
      ],
    };
  };

  const getMeterData = (data) => {
    const getHideCol = () =>
      data.show
        ? [
            { title: '表具名称', key: 'meterName', span: 3 },
            { title: '开通读数', key: 'openReading' },
            { title: '停用日期', key: 'pauseDate' },
            { title: '停用读数', key: 'pauseReading' },
            { title: '复用日期', key: 'reuseDate' },
            { title: '复用读数', key: 'reuseReading' },
          ]
        : [];
    return {
      data,
      column: [
        { title: '表具编号', key: 'meterCode' },
        { title: '表具类型', key: 'meterType', dic: true },
        { title: '安装状态', key: 'irState', dic: true },
        { title: '安装日期', key: 'installDate' },
        { title: '开通日期', key: 'openDate' },
        { title: '使用标志', key: 'irUse', dic: true },
        { title: '抄表日期', key: 'readTime' },
        { title: '表读数', key: 'readReading' },
        { title: '累用量', key: 'sumUseQty' },

        ...getHideCol(),
      ],
    };
  };

  const activeName = ref('');

  const handleDescribe = (e) => {
    getCustIdentityData(e).then((res) => {
      infoData.custUser.data = res;
      infoData.addrInfoList = res.addrInfoList;
      if (res.addrInfoList.length > 0) {
        activeName.value = res.addrInfoList[0].code;
      }

      dialog.show = true;
    });
  };

  defineExpose({
    handleDescribe,
  });
</script>

<style lang="scss" scoped>
  .slider {
    height: 30px;
    width: 150px;
  }

  .slider-span {
    width: 75px;
  }

  .slider-text {
    width: 150px;
    text-align: center;
  }

  .current-box {
    width: 150px;
  }

  .current {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #007bff transparent;
  }

  .bg-blue-200 {
    background-color: rgb(196, 222, 255);
  }
</style>
