<template>
  <template v-if="props.radio">
    <el-radio-group v-model="dicCode" @change="dicChange">
      <el-radio v-for="item in dicList" :key="item.code" border :label="item.code">{{
        item.name
      }}</el-radio>
    </el-radio-group>
  </template>

  <template v-else>
    <el-select
      v-if="!dicTree"
      v-model="dicCode"
      :placeholder="props.placeholder"
      :disabled="props.disabled"
      style="width: 100%"
      clearable
      filterable
      @change="dicChange"
    >
      <el-option v-for="item in dicList" :key="item.code" :label="item.name" :value="item.code">
      </el-option>
    </el-select>

    <el-cascader
      v-else
      ref="dicRef"
      v-model="dicArrayCode"
      style="width: 100%"
      clearable
      filterable
      :props="{
        label: 'name',
        value: 'code',
      }"
      :placeholder="props.placeholder"
      :disabled="props.disabled"
      :options="dicList"
      @change="handleArrayChange"
    ></el-cascader>
  </template>
</template>

<script setup>
  import { formItemContextKey } from 'element-plus';

  import { dicCode2Map, dicID2Code, dicPid2Tree } from '@/utils/dictionary-helper';

  const elFormItem = inject(formItemContextKey, {});

  const props = defineProps({
    modelValue: {
      type: [String, Array],
      default: '',
    },
    singleValue: {
      type: String,
      default: '',
    },
    dicPid: {
      type: String,
      required: true,
      default: '',
    },
    dicTree: {
      type: Boolean,
      default: false,
    },
    radio: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: '请选择',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    hideSome: {
      type: Boolean,
      default: false,
    },
  });

  const emits = defineEmits(['update:modelValue', 'change', 'update:singleValue']);

  const dicRef = ref(null);

  const dicCode = ref(`${props.modelValue}`);
  const dicArrayCode = ref([...props.modelValue]);

  const dicList = ref([]);
  dicList.value = dicPid2Tree(props.dicPid, props.dicTree, props.hideSome);

  watch(
    () => props.modelValue,
    () => {
      if (props.dicTree) {
        dicArrayCode.value = [...props.modelValue];
      } else {
        dicCode.value = `${props.modelValue}`;
      }
    }
  );

  const single2Array = () => {
    dicArrayCode.value = [dicID2Code(dicCode2Map(props.singleValue).parentId), props.singleValue];
  };

  if (props.dicTree && props.singleValue) {
    single2Array();
  }

  watch(
    () => props.singleValue,
    () => {
      if (props.dicTree && !props.singleValue) {
        dicArrayCode.value = [];
      } else if (props.dicTree && props.singleValue) {
        single2Array();
      }
    }
  );

  const dicChange = (e) => {
    emits('update:modelValue', e);
    emits('change', e);
    if (Object.keys(elFormItem).length > 0) {
      elFormItem.validate('change');
    }
  };

  const handleArrayChange = (e) => {
    if (e) {
      emits('update:modelValue', e);
      emits('update:singleValue', e[e.length - 1]);
      emits('change', dicRef.value.getCheckedNodes()[0].data);
    } else {
      emits('update:modelValue', []);
      emits('update:singleValue', '');
    }
  };
</script>
