<template>
  <div class="amap-box">
    <div :id="props.amapKey" class="amap-container" />
    <div class="amap-loc-text">
      {{ markerLng }}<span v-if="markerLng"> , </span>{{ markerLat }}
    </div>
    <div class="amap-mask"></div>
    <div v-if="props.enableChoiceMarker" class="amap-quick-search">
      <el-select
        v-model="searchKey"
        style="width: 100%"
        filterable
        remote
        reserve-keyword
        placeholder="请选择地址关键词快速搜索"
        :remote-method="getAutoComplete"
        :loading="searchLoading"
        @change="selQuickChange"
      >
        <el-option
          v-for="item in searchOptions"
          :key="item.id"
          :label="item.name + ' -> ' + item.district"
          :value="item.id"
        />
      </el-select>
    </div>
  </div>
</template>

<script setup>
import AMapLoader from "@amap/amap-jsapi-loader";
import { formItemContextKey } from "element-plus";

import * as netData from "@/api/amap-service";
// import { gbCityCode, getGbAddrCode } from '@/api/common';

import { useUserStore } from "@/store/modules/user";

const userStore = useUserStore();
const userCompany = computed(() => userStore.userCompany);

let amapObj;
let mapObj;
let marker;

const elFormItem = inject(formItemContextKey, {});

const searchKey = ref("");
const searchLoading = ref(false);
const searchOptions = ref([]);

const emits = defineEmits([
  "mapReady",
  "update:markerLng",
  "update:markerLat",
  "centerChange",
  "selQuickChange",
  "townCommunityDetect",
]);
const props = defineProps({
  amapKey: {
    type: String,
    required: true,
  },
  enableChoiceMarker: {
    type: Boolean,
    default: true,
  },
  center: {
    type: Object,
    default: () => {
      return {
        lng: 114.496968,
        lat: 38.027086,
      };
    },
  },
  markerLng: {
    type: String,
    default: "",
  },
  markerLat: {
    type: String,
    default: "",
  },
});

const cityName = ref("");
const cityAreaCode = ref("");

const markerLng = computed(() => props.markerLng);
const markerLat = computed(() => props.markerLat);

const initAmap = () => {
  const amapServiceUrl = import.meta.env.VITE_APP_AMAP_SERVICE_URL;
  // eslint-disable-next-line no-underscore-dangle
  window._AMapSecurityConfig = {
    serviceHost: amapServiceUrl,
    // 例如 ：serviceHost:'http://1.1.1.1:80/_AMapService',
  };

  AMapLoader.load({
    // amap://styles/bd3bc4f673204e49b5fc369004c6be04
    key: "4a1db8bdaaec93d9a40587438ddd7506", // 申请好的Web端开发者Key，首次调用 load 时必填
    version: "2.0", // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
    plugins: [
      "AMap.Geocoder",
      "AMap.DistrictSearch",
      "AMap.Geolocation",
      "AMap.HeatMap",
      "AMap.AutoComplete",
    ], // 需要使用的的插件列表，如比例尺'AMap.Scale'等
    AMapUI: {
      // 是否加载 AMapUI，缺省不加载
      version: "1.1", // AMapUI 缺省 1.1
      plugins: [], // 需要加载的 AMapUI ui插件
    },
  })
    .then((AMap) => {
      amapObj = AMap;
      const map = new AMap.Map(props.amapKey, {
        mapStyle: "amap://styles/light",
        center: [props.center.lng, props.center.lat],
      });
      mapObj = map;
      map.on("complete", () => {
        emits("mapReady");
      });

      if (props.markerLng && props.markerLat) {
        if (marker) {
          map.remove(marker);
        }
        marker = new AMap.Marker({
          position: [props.markerLng, props.markerLat], // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
          title: "定位",
        });
        map.add(marker);
        map.setFitView();
      } else if (userCompany.value && userCompany.value.areaName) {
        setAmapCenter("全国", userCompany.value.areaName.join(""), 12);
      }

      map.on("click", (e) => {
        if (props.enableChoiceMarker) {
          const { lnglat } = e;
          emits("centerChange", lnglat);
          emits("update:markerLng", `${lnglat.getLng()}`);
          emits("update:markerLat", `${lnglat.getLat()}`);
          if (
            elFormItem &&
            Object.prototype.hasOwnProperty.call(elFormItem, "validate")
          ) {
            elFormItem.validate("change");
          }
          if (marker) {
            map.remove(marker);
          }
          marker = new AMap.Marker({
            position: lnglat, // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
            title: "定位",
          });
          map.add(marker);
          map.setFitView(marker);
        }
      });
    })
    .catch((e) => {});
};

watch(
  () => props.markerLng,
  () => {
    if ((!props.markerLng || !props.markerLat) && marker) {
      mapObj.remove(marker);
    } else {
      if (marker) {
        mapObj.remove(marker);
      }
      marker = new amapObj.Marker({
        position: [props.markerLng, props.markerLat], // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
        title: "定位",
      });
      mapObj.add(marker);
      mapObj.setFitView(marker);
    }
  }
);

const clearMap = () => {
  mapObj.clear();
};

onMounted(() => {
  initAmap();
});

const autoLocation = () => {
  const geolocation = new amapObj.Geolocation({
    // 是否使用高精度定位，默认：true
    enableHighAccuracy: true,
    // 设置定位超时时间，默认：无穷大
    timeout: 10000,
    // 定位按钮的停靠位置的偏移量，默认：Pixel(10, 20)
    buttonOffset: new amapObj.Pixel(10, 20),
    //  定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
    zoomToAccuracy: true,
    //  定位按钮的排放位置,  RB表示右下
    buttonPosition: "RB",
  });

  geolocation.getCurrentPosition((status, result) => {
    if (status === "complete") {
      // onComplete(result)
    } else {
      // onError(result)
    }
  });
};

const setAmapCenter = (city, queryAddr, zoom = 15) => {
  const geocoder = new amapObj.Geocoder({
    // city 指定进行编码查询的城市，支持传入城市名、adcode 和 citycode
    city,
  });

  geocoder.getLocation(queryAddr, (status, result) => {
    if (status === "complete" && result.info === "OK") {
      // result中对应详细地理坐标信息

      mapObj.setZoomAndCenter(zoom, result.geocodes[0].location);
    }
  });
};

const getAutoComplete = (query) => {
  if (query) {
    searchLoading.value = true;
    amapObj.plugin("AMap.AutoComplete", () => {
      const autoOptions = {
        city: cityName.value,
        citylimit: true,
      };
      const autoComplete = new amapObj.AutoComplete(autoOptions);
      autoComplete.search(query, (status, result) => {
        // 搜索成功时，result即是对应的匹配数据
        searchLoading.value = false;
        if (status === "complete" && result.info === "OK") {
          searchOptions.value = result.tips;
        }
      });
    });
  } else {
    searchOptions.value = [];
  }
};

const cleanPoiStr = (str) => {
  return str
    .replace("居民委员会", "")
    .replace("党总支委员会", "")
    .replace("监督委员会", "")
    .replace("监察委员会", "")
    .replace("服务中心", "")
    .replace("总支部委员会", "")
    .replace("支部委员会", "")
    .replace("社区", "")
    .replace("居委会", "")
    .replace("管委会", "")
    .replace("总支部", "")
    .replace("村委会", "")
    .replace("中共", "")
    .replace("中国共产党", "");
};

const townCommunityDetect = (townId, CommunityId) => {
  emits("townCommunityDetect", townId, CommunityId);
};

const smartQuery = (lngLat, key, rawName) => {
  netData.AmapGeoDecode(`${lngLat.lng},${lngLat.lat}`).then((res) => {
    const addrRes = JSON.parse(res);

    if (addrRes.info === "OK" && addrRes.status === "1" && addrRes.regeocode) {
      const townCode = addrRes.regeocode.addressComponent.towncode;

      gbCityCode(townCode).then((communityRes) => {
        // 先用名称查
        const pickRawName = cleanPoiStr(rawName);

        if (communityRes.rows.length > 0) {
          const q = communityRes.rows.filter(
            (v) => v.position.indexOf(pickRawName) !== -1
          );
          if (q.length > 0) {
            townCommunityDetect(q[0].parentId, q[0].id);
          } else {
            // 附近查
            amapObj.plugin("AMap.PlaceSearch", () => {
              const autoOptions = {
                city: cityName.value,
                citylimit: true, // 是否强制限制在设置的城市内搜索
                type: "政府机构及社会团体|社会团体|社会团体相关|乡镇以下级政府及事业单位|政府机关", // 兴趣点类别
              };
              const autoComplete = new amapObj.PlaceSearch(autoOptions);
              autoComplete.searchNearBy(key, lngLat, 1000, (status, result) => {
                if (
                  status === "complete" &&
                  result.info === "OK" &&
                  result.poiList.count > 0
                ) {
                  let findResult = [];
                  const pickNames = [];
                  result.poiList.pois.forEach((item) => {
                    const pickOneName = cleanPoiStr(item.name);
                    pickNames.push(pickOneName);

                    const cq = communityRes.rows.filter(
                      (v) => v.position.indexOf(pickOneName) !== -1
                    );
                    findResult = [...findResult, ...cq];
                  });

                  if (findResult.length > 0) {
                    townCommunityDetect(
                      findResult[0].parentId,
                      findResult[0].id
                    );
                  }
                }
              });
            });
          }
        } else {
          // 高德可能有误，使用数据库查询

          amapObj.plugin("AMap.PlaceSearch", () => {
            const autoOptions = {
              city: cityName.value,
              citylimit: true, // 是否强制限制在设置的城市内搜索
              type: "政府机构及社会团体|社会团体|社会团体相关|乡镇以下级政府及事业单位|政府机关", // 兴趣点类别
            };
            const autoComplete = new amapObj.PlaceSearch(autoOptions);
            autoComplete.searchNearBy(key, lngLat, 1000, (status, result) => {
              if (
                status === "complete" &&
                result.info === "OK" &&
                result.poiList.count > 0
              ) {
                const pickNames = [];
                result.poiList.pois.forEach((item) => {
                  const pickOneName = cleanPoiStr(item.name);
                  pickNames.push(pickOneName);
                });

                const queryPromise = [];
                pickNames.forEach((item) => {
                  queryPromise.push(getGbAddrCode(cityAreaCode.value, item));
                });

                Promise.all(queryPromise).then((DBRes) => {
                  let findResult = [];
                  DBRes.forEach((item) => {
                    findResult = [...findResult, ...item.rows];
                  });
                  if (findResult.length > 0) {
                    townCommunityDetect(
                      findResult[0].parentId,
                      findResult[0].id
                    );
                  }
                });
              }
            });
          });
        }
      });
    }
  });
};

const selQuickChange = (e) => {
  const find = searchOptions.value.filter((v) => v.id === e);
  const { lng, lat } = find[0].location;
  emits("centerChange", [lng, lat]);
  emits("update:markerLng", `${lng}`);
  emits("update:markerLat", `${lat}`);
  if (
    elFormItem &&
    Object.prototype.hasOwnProperty.call(elFormItem, "validate")
  ) {
    elFormItem.validate("change");
  }
  emits("selQuickChange", find[0]);

  smartQuery(find[0].location, "委员会", find[0].name);

  // 绘制
  if (marker) {
    mapObj.remove(marker);
  }
  marker = new amapObj.Marker({
    position: [lng, lat], // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
    title: "定位",
  });
  mapObj.add(marker);
  mapObj.setFitView();
};

let polygons = [];
const setDistrictPolygon = (aid) => {
  amapObj.plugin("AMap.DistrictSearch", () => {});
  const opts = {
    subdistrict: 0, // 获取边界不需要返回下级行政区
    extensions: "all", // 返回行政区边界坐标组等具体信息
    level: "district", // 查询行政级别为 市
  };
  const district = new amapObj.DistrictSearch(opts);

  district.search(aid, (status, result) => {
    mapObj.remove(polygons); // 清除上次结果
    polygons = [];
    const bounds = result.districtList[0].boundaries;
    if (bounds) {
      for (let i = 0, l = bounds.length; i < l; i += 1) {
        // 生成行政区划polygon
        const polygon = new amapObj.Polygon({
          strokeWeight: 1,
          path: bounds[i],
          fillOpacity: 0.4,
          fillColor: "#80d8ff",
          strokeColor: "#0091ea",
        });
        polygons.push(polygon);
      }
    }
    mapObj.add(polygons);
    mapObj.setFitView(polygons); // 视口自适应
  });
};

const setSearchKey = (e, c, aid) => {
  cityName.value = c;
  cityAreaCode.value = aid;

  getAutoComplete(e);
  setDistrictPolygon(aid.substring(0, 6));
};

const getInstance = () => {
  return {
    AMap: amapObj,
    map: mapObj,
  };
};

defineExpose({
  autoLocation,
  setAmapCenter,
  clearMap,
  setSearchKey,
  getInstance,
});
</script>

<style lang="scss" scoped>
.amap-box {
  height: 100%;
  width: 100%;
  position: relative;
}

.amap-container {
  height: 100%;
  width: 100%;
}
.amap-loc-text {
  padding: 5px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: right;
  bottom: 10px;
  left: 0px;
  user-select: none;
}

.amap-quick-search {
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.amap-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  pointer-events: none;
}

html.dark {
  .amap-mask {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
</style>

<style>
.amap-logo,
.amap-copyright {
  opacity: 0;
}
</style>
