<template>
  <template v-for="itemKey in props.conditions" :key="itemKey">
    <template v-if="itemKey === 'area'">
      <el-form-item label="所属地区" prop="areaCode">
        <AreaSelect
          v-model:areaCode="queryForm.areaCode"
          v-model:areaName="queryForm.areaName"
          check-strictly
          @change="updateComplex"
        ></AreaSelect>
      </el-form-item>
    </template>
    <template v-if="itemKey === 'complex'">
      <el-form-item label="小区名称" prop="complexId">
        <el-select
          v-model="queryForm.complexId"
          placeholder="请选择小区"
          style="width: 100%"
          clearable
          filterable
          @change="updateBuilding"
        >
          <el-option v-for="item in complexList" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </template>

    <template v-if="itemKey === 'building'">
      <el-form-item label="楼栋名称" prop="buildingId">
        <el-select
          v-model="queryForm.buildingId"
          placeholder="请选择楼栋"
          style="width: 100%"
          clearable
          filterable
        >
          <el-option
            v-for="item in buildingList"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </template>

    <template v-if="itemKey === 'scTeam'">
      <el-form-item label="安检班组" prop="scTeamId">
        <el-select
          v-model="queryForm.scTeamId"
          placeholder="请选择安检班组"
          style="width: 100%"
          clearable
          filterable
        >
          <el-option v-for="item in scTeams" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </template>

    <template v-if="itemKey === 'scTeamUser'">
      <el-form-item label="安检员" prop="scTeamUserId">
        <el-select
          v-model="queryForm.scTeamUserId"
          placeholder="请选择安检员"
          style="width: 100%"
          clearable
          filterable
        >
          <el-option
            v-for="item in scUserList"
            :key="item.userId"
            :label="item.userName"
            :value="item.userId"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </template>

    <template v-if="itemKey === 'mrTeam'">
      <el-form-item label="抄表班组" prop="mrTeamId">
        <el-select
          v-model="queryForm.mrTeamId"
          placeholder="请选择抄表班组"
          style="width: 100%"
          clearable
          filterable
        >
          <el-option v-for="item in mrTeams" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </template>

    <template v-if="itemKey === 'mrTeamUser'">
      <el-form-item label="抄表员" prop="mrTeamUserId">
        <el-select
          v-model="queryForm.mrTeamUserId"
          placeholder="请选择抄表员"
          style="width: 100%"
          clearable
          filterable
        >
          <el-option
            v-for="item in mrUserList"
            :key="item.userId"
            :label="item.userName"
            :value="item.userId"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </template>

    <template v-if="itemKey === 'userOrgArea'">
      <el-form-item label="乡镇街道" prop="townId">
        <el-select
          v-model="queryForm.townId"
          filterable
          clearable
          placeholder="请选择乡镇街道"
          style="width: 100%"
          @change="userTownChange"
        >
          <el-option
            v-for="item in userTownList"
            :key="item.id"
            :label="item.position"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="村社区" prop="communityId">
        <el-select v-model="queryForm.communityId" filterable clearable placeholder="请选择村社区">
          <el-option
            v-for="item in userCommunityList"
            :key="item.id"
            :label="item.position"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>
    </template>
  </template>
</template>

<script setup>
  import { addrBuildingList } from '@/api/address/AddrBuilding';
  import { addrComplexList } from '@/api/address/AddrComplex';
  // import { gbCityCode } from '@/api/common';
  import { mrTeamList, mrTeamUser } from '@/api/org/MrTeam';
  import { scTeamList, scTeamUser } from '@/api/org/ScTeam';

  import { useUserStore } from '@/store/modules/user';

  const userStore = useUserStore();
  const userCompany = computed(() => userStore.userCompany);

  const props = defineProps({
    conditions: {
      type: Array,
      default: () => ['area', 'complex'],
    },
    queryForm: {
      type: Object,
      default: () => {},
    },
  });

  const { queryForm, conditions } = toRefs(props);

  // 条件-小区
  const complexList = ref([]);

  const getComplexList = () => {
    addrComplexList(1, 999, queryForm.value).then((res) => {
      complexList.value = res.rows;
    });
  };
  if (conditions.value.includes('complex')) {
    getComplexList();
  }
  const updateComplex = (e) => {
    if (e && e.length >= 5) {
      queryForm.value.communityId = e[4];
    } else {
      queryForm.value.communityId = '';
    }

    getComplexList();
  };

  // 条件-楼栋
  const buildingList = ref([]);
  const getBuildingList = () => {
    if (queryForm.value.complexId) {
      addrBuildingList(1, 999, queryForm.value).then((res) => {
        buildingList.value = res.rows;
      });
    } else {
      buildingList.value = [];
    }
  };
  const updateBuilding = () => {
    getBuildingList();
  };

  // 条件-安检班组
  const scTeams = ref([]);
  const getScTeamList = () => {
    scTeamList(1, 9999).then((res) => {
      scTeams.value = res.rows;
    });
  };

  if (conditions.value.includes('scTeam')) {
    getScTeamList();
  }

  // 条件-安检员
  const scUserList = ref([]);
  const getScTeamUser = () => {
    scTeamUser().then((res) => {
      scUserList.value = res.rows;
    });
  };

  if (conditions.value.includes('scTeamUser')) {
    getScTeamUser();
  }

  // 条件-抄表班组
  const mrTeams = ref([]);
  const getMrTeamList = () => {
    mrTeamList(1, 9999).then((res) => {
      mrTeams.value = res.rows;
    });
  };

  if (conditions.value.includes('mrTeam')) {
    getMrTeamList();
  }

  // 条件-抄表员
  const mrUserList = ref([]);
  const getMrTeamUser = () => {
    mrTeamUser().then((res) => {
      mrUserList.value = res.rows;
    });
  };

  if (conditions.value.includes('mrTeamUser')) {
    getMrTeamUser();
  }

  // 用户当前自己的街道和社区
  const userTownList = ref([]);
  const userCommunityList = ref([]);

  if (userCompany.value.areaCode && conditions.value.includes('userOrgArea')) {
    gbCityCode(userCompany.value.areaCode[2]).then((res) => {
      userTownList.value = res.rows;
    });
  }

  const userTownChange = (e) => {
    gbCityCode(e).then((res) => {
      queryForm.value.communityId = '';
      userCommunityList.value = res.rows;
    });
  };
</script>
