<template>
  <el-date-picker
    v-if="props.type === 1"
    v-model="curDateTime"
    type="datetimerange"
    range-separator="至"
    start-placeholder="开始时间"
    end-placeholder="结束时间"
    format="YYYY-MM-DD HH:mm:ss"
    value-format="YYYY-MM-DD HH:mm:ss"
    style="width: 100%"
    @change="selDateTime"
  />

  <el-date-picker
    v-if="props.type === 2"
    v-model="curDateTime"
    type="daterange"
    range-separator="至"
    start-placeholder="开始日期"
    end-placeholder="结束日期"
    format="YYYY-MM-DD"
    value-format="YYYY-MM-DD"
    @change="selDateTime"
  />
</template>

<script setup>
  const props = defineProps({
    dateTime: {
      type: Array,
      default: () => [],
    },
    type: {
      type: Number,
      default: 1,
    },
    startTime: {
      type: String,
      default: '',
    },
    endTime: {
      type: String,
      default: '',
    },
  });

  const emits = defineEmits(['update:startTime', 'update:endTime', 'update:dateTime']);

  const { dateTime } = toRefs(props);
  const curDateTime = ref([]);
  curDateTime.value = dateTime.value;

  watch(
    () => props.startTime,
    () => {
      if (!props.startTime) {
        curDateTime.value = [];
      }
    }
  );

  const selDateTime = (e) => {
    if (e && e.length > 0) {
      emits('update:dateTime', e);
      emits('update:startTime', e[0]);
      emits('update:endTime', e[1]);
    } else {
      emits('update:startTime', '');
      emits('update:endTime', '');
    }
  };

  if (dateTime.value && dateTime.value.length === 2) {
    selDateTime(dateTime.value);
  }
</script>
