<template>
  <el-dialog
    :model-value="props.modelValue"
    :fullscreen="props.fullscreen"
    append-to-body
    class="el-dialog-ext"
    :title="props.title"
    :width="props.width"
    :show-close="false"
    destroy-on-close
    :close-on-click-modal="props.closeOnClickModal"
    @close="close"
  >
    <template #header>
      <div class="header">
        <div class="header-title">{{ props.title }}</div>
        <span class="close-icon" @click="close">
          <el-icon :size="20" color="#fff">
            <i-ep-close-bold />
          </el-icon>
        </span>
      </div>
    </template>

    <el-alert
      v-if="props.tips"
      class="tips"
      :title="props.tips"
      type="info"
      show-icon
      :closable="false"
    />
    <slot></slot>
    <template #footer>
      <slot name="footer"></slot>
    </template>
  </el-dialog>
</template>

<script setup>
  const props = defineProps({
    modelValue: {
      type: Boolean,
      default: false,
    },
    fullscreen: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
    tips: {
      type: String,
      default: '',
    },
    width: {
      type: [String, Number],
      default: '50%',
    },
    closeOnClickModal: {
      type: Boolean,
      default: false,
    },
  });

  const emits = defineEmits(['update:modelValue', 'close', 'ready']);

  const close = () => {
    emits('close');
    emits('update:modelValue', false);
  };
</script>

<style lang="scss">
  .el-dialog-ext {
    border-radius: 8px;
    overflow: hidden;
    .tips {
      background-color: #e6eefb;
      color: var(--el-color-primary);
      margin-bottom: 15px;
    }

    .el-dialog__header {
      padding: 0 !important;
      margin: 0 !important;
    }

    .el-dialog__footer {
      padding-bottom: 15px;
    }

    .el-dialog__body {
      padding: 15px calc(var(--el-dialog-padding-primary) + 0px) 0px !important;
    }

    .header {
      display: flex;
      align-items: center;
      background: var(--el-color-primary);
      width: 100%;
      height: 45px;
      .header-title {
        margin-left: 20px;
        color: white;
      }

      .close-icon {
        position: absolute;
        float: right;
        height: 20px;
        width: 20px;
        right: 20px;
        cursor: pointer;
        opacity: 0.9;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  html.dark {
    .el-dialog-ext {
      .header {
        background-color: var(--el-bg-color) !important;
      }
    }
  }
</style>
