<template>
  <el-descriptions :title="props.title" :column="props.column" border style="width: 100%">
    <el-descriptions-item
      v-for="(item, index) in props.data.column"
      :key="index"
      label-class-name="el-des-label"
      class-name="el-des-col"
      :label="item.title"
      :span="item.span || 1"
      :label-align="labelAlign"
    >
      <template #label>
        <div class="el-des-label">{{ item.title }}</div>
      </template>
      <span v-if="!item.func && !item.slotName">
        {{
          item.dic
            ? dicCode2Text(objGet(props.data.data, item.key))
            : objGet(props.data.data, item.key)
        }}
      </span>
      <span v-if="item.slotName">
        <slot :name="item.slotName" :slot-data="item.slotData"></slot>
      </span>
      <span v-if="item.func">
        {{ item.func(objGet(props.data.data, item.key)) }}
      </span>
      <div v-if="item.extendSlotName">
        <slot :name="item.extendSlotName" :slot-data="item.slotData"></slot>
      </div>
    </el-descriptions-item>
  </el-descriptions>
</template>

<script setup>
  import { get as objGet } from 'lodash-es';

  import { dicCode2Text } from '@/utils/dictionary-helper';

  const props = defineProps({
    width: {
      type: Number,
      default: 1200,
    },
    title: {
      type: String,
      default: '',
    },
    column: {
      type: Number,
      default: 2,
    },
    label: {
      type: String,
      default: '',
    },
    data: {
      type: Object,
      default: () => {
        return {
          data: {},
          column: [],
        };
      },
    },
    labelWidth: {
      type: String,
      default: '100px',
    },
    labelAlign: {
      type: String,
      default: '',
    },
  });

  const { labelWidth } = toRefs(props);
  const tdWidth = computed(() => `${(1 / (props.column * 2)) * props.width}px`);
</script>

<style lang="scss">
  .el-des-label {
    width: v-bind(labelWidth) !important;
    font-weight: 700;
  }

  .el-des-col {
    width: v-bind(tdWidth);
  }
</style>
