<template>
  <div>
    <div v-if="!fileName">
      <el-upload
        ref="elUploadRef"
        action=""
        :limit="1"
        :auto-upload="false"
        :on-change="fileChange"
      >
        <el-button type="primary">选择文件</el-button>
      </el-upload>
    </div>
    <div v-if="fileName">
      <div>{{ fileName }}</div>
      <el-button type="primary" @click="clearUpload">重新上传</el-button>
    </div>
  </div>
</template>

<script setup>
  import { formItemContextKey } from 'element-plus';

  const props = defineProps({
    modelValue: {
      type: [Object, String],
      default: () => {},
    },
  });

  const elFormItem = inject(formItemContextKey, {});

  const emits = defineEmits(['update:modelValue', 'change']);

  const elUploadRef = ref(null);
  const fileName = ref('');

  const fileChange = (e) => {
    if (!e.uid) {
      return;
    }
    fileName.value = e.name;
    emits('update:modelValue', e.raw);
    elFormItem.validate('change');
    emits('change', e.raw);
  };

  const clearUpload = () => {
    emits('update:modelValue', '');
    elFormItem.validate('change');
    fileName.value = '';
    emits('change', '');
  };
</script>
