<template>
  <el-table-column
    :prop="props.prop"
    :label="props.label"
    :min-width="props.minWidth"
    show-overflow-tooltip
  >
    <template #default="scope">
      {{ dicCode2Text(scope.row[props.prop]) }}
    </template>
  </el-table-column>
</template>

<script setup>
  import { dicCode2Text } from '@/utils/dictionary-helper';

  const props = defineProps({
    prop: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    minWidth: {
      type: String,
      default: '',
    },
  });
</script>
