<template>
  <el-table-column
    :prop="props.prop"
    :label="props.label"
    :min-width="props.minWidth"
    show-overflow-tooltip
  >
    <template #default="scope">
      <div class="cell-tooltip">{{ scope.row[props.prop] }}</div>
    </template>
  </el-table-column>
</template>

<script setup>
  const props = defineProps({
    prop: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    minWidth: {
      type: String,
      default: '',
    },
  });
</script>

<style>
  .cell-tooltip {
    direction: rtl;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
