<template>
  <div class="upload-file-container">
    <el-upload
      class="upload-file"
      :show-file-list="showFileList"
      :list-type="showFileList ? 'picture-card' : 'text'"
      :on-preview="handlePictureCardPreview"
      action=""
      :limit="limit"
      :file-list="fileList"
      :http-request="handleUpload"
      :on-success="uploadSuccess"
      :on-error="uploadError"
      :on-exceed="uploadExceed"
      :on-remove="uploadRemove"
      :class="{ 'hide-exec': hideUpload }"
    >
      <el-icon v-if="showFileList" class="avatar-uploader-icon">
        <i-ep-plus></i-ep-plus>
      </el-icon>
      <el-button v-else type="primary">上传文件</el-button>
    </el-upload>
  </div>

  <el-dialog-ext v-model="previewVisible" width="60%" title="图片预览">
    <img w-full :src="previewImageUrl" alt="Preview Image" />
  </el-dialog-ext>
</template>

<script setup>
  import { ElMessage, formItemContextKey } from 'element-plus';

  import Minio, { ElList2fileList, fileList2ElList } from '@/utils/minio';

  const props = defineProps({
    modelValue: {
      type: String,
      default: '',
    },
    showFileList: {
      type: Boolean,
      default: true,
    },
    limit: {
      type: Number,
      default: 1,
    },
  });

  const elFormItem = inject(formItemContextKey, {});

  const emits = defineEmits(['update:modelValue', 'change']);

  const fileList = ref([]);
  const hideUpload = ref(false);

  watch(
    () => props.modelValue,
    () => {
      parseUrl();
    }
  );

  watch(fileList, () => {
    hideUpload.value = fileList.value.length >= props.limit;
  });

  const parseUrl = () => {
    if (props.modelValue) {
      fileList.value = fileList2ElList(props.modelValue.split(','));
    } else {
      fileList.value = [];
    }
  };
  parseUrl();

  const triggerChange = (elfileList) => {
    emits('update:modelValue', ElList2fileList(elfileList).join(','));
    elFormItem.validate('change');
  };

  const processFileList = (elfileList) => {
    const files = elfileList.map((item) => {
      if (!item.url && item.response) {
        const { response } = item;
        item.url = response.url;
      }
      return item;
    });
    triggerChange(files);
  };

  const handleUpload = (e) => {
    return Minio.getInstance().upload(e.file);
  };

  const uploadSuccess = (response, file, elfileList) => {
    processFileList(elfileList);
  };

  const uploadExceed = (files, elfileList) => {
    processFileList(elfileList);
    ElMessage.error('已超过最大上传文件数');
  };

  const uploadRemove = (file, elfileList) => {
    processFileList(elfileList);
  };

  const uploadError = (err, file, elfileList) => {
    if (err.code !== 200) {
      ElMessage({
        message: err.message || '上传失败',
        type: 'warning',
      });
    }
    processFileList(elfileList);
  };

  const previewVisible = ref(false);
  const previewImageUrl = ref('');
  const handlePictureCardPreview = (e) => {
    previewVisible.value = true;
    previewImageUrl.value = e.url;
  };
</script>

<style lang="scss">
  .upload-file-container {
    .hide-exec .el-upload--picture-card {
      display: none;
    }

    .el-upload--picture-card,
    .el-upload-list__item {
      height: 108px !important;
      width: 108px !important;
    }

    .upload-file-container .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 108px;
      height: 108px;
      text-align: center;
    }

    .el-upload--picture-card i {
      margin-top: 0px;
    }

    .avatar {
      width: 108px;
      height: 108px;
      display: block;
    }
  }
</style>
