<template>
  <div class="indicator flex justify-between" :class="{ 'no-border': noBorder }">
    <div class="flex items-center">
      <div class="shape"></div>
      <div class="title text-base font-bold">{{ props.title }}</div>
    </div>
    <slot></slot>
  </div>
</template>

<script setup>
  const props = defineProps({
    title: {
      type: String,
      default: '',
    },
    noBorder: {
      type: Boolean,
      default: false,
    },
  });
</script>

<style lang="scss" scoped>
  .indicator {
    width: 100%;
    border-bottom: 1px solid #efeef5;
    padding-bottom: 5px;
    &.no-border {
      border-bottom: none;
    }
  }
  .shape {
    width: 5px;
    height: 18px;
    background-color: var(--el-color-primary);
    margin-right: 5px;
    border-radius: 4px;
  }

  .title {
    font-size: 15px;
    color: var(--el-text-color-regular);
  }
</style>
