<template>
  <el-cascader
    ref="industrySelectRef"
    v-model="industryCode"
    :props="cascaderProps"
    style="width: 100%"
    clearable
    @change="updateIndustry"
  />
</template>

<script setup>
// import { gbIndustryCode } from '@/api/common';

const industrySelectRef = ref(null);

const props = defineProps({
  industryCode: {
    type: Array,
    default: () => {
      return [];
    },
  },
  industryName: {
    type: Array,
    default: () => {
      return [];
    },
  },
  industryCodeSingle: {
    type: String,
    default: "",
  },
});

const emits = defineEmits([
  "update:industryCode",
  "update:industryName",
  "update:industryCodeSingle",
  "change",
]);

const cascaderProps = {
  lazy: true,
  label: "name",
  value: "id",
  lazyLoad(node, resolve) {
    const { level, value } = node;
    if (level === 3) {
      gbIndustryCode(level === 0 ? "" : value).then((res) => {
        resolve(
          res.rows.map((v) => {
            const m = v;
            m.leaf = true;
            return m;
          })
        );
      });
    } else {
      gbIndustryCode(level === 0 ? "" : value).then((res) => {
        resolve(res.rows);
      });
    }
  },
};

const industryCode = ref(JSON.parse(JSON.stringify(props.industryCode)));

watch(
  () => props.industryCode,
  () => {
    industryCode.value = JSON.parse(JSON.stringify(props.industryCode));
  }
);

watch(
  () => props.industryCodeSingle,
  () => {
    if (!props.industryCodeSingle) {
      industryCode.value = [];
    }
  }
);

const updateIndustry = (e) => {
  const labels = industrySelectRef.value.getCheckedNodes()[0].pathLabels;

  emits("change", e);
  emits("update:industryCode", e);
  emits("update:industryCodeSingle", e[e.length - 1]);

  emits("update:industryName", labels);
};
</script>
