<template>
  <el-button type="warning" @click="verifyMeter">校验表具</el-button>
  <el-dialog-ext v-model="dialogShow" title="校验详情" width="850px">
    <el-des-ext :width="850" :column="2" :data="infoData.meter"> </el-des-ext>
  </el-dialog-ext>
</template>

<script setup>
  import { getMeterVerify } from '@/api/meter/Meter';

  const props = defineProps({
    code: {
      type: String,
      required: true,
    },
  });

  const infoData = reactive({
    meter: {
      data: {},
      column: [
        { title: '名称', key: 'name' },
        { title: '分类名称', key: 'classifyName' },
        { title: '安装时间', key: 'installTime' },
        { title: 'SN', key: 'sn' },
        { title: 'SIM卡号', key: 'simCardNumber' },
        { title: 'IMEI', key: 'imeiNumber' },
        { title: '生产日期', key: 'productDate' },
        { title: '进方向', key: 'inDirection' },
        { title: '经度', key: 'longitude' },
        { title: '纬度', key: 'latitude' },
        { title: '租户', key: 'tenant' },
        { title: '状态', key: 'state' },
        { title: '通信描述', key: 'iotCommStatusDesc' },
        { title: '描述', key: 'description' },
      ],
    },
  });

  const dialogShow = ref(false);
  const verifyMeter = () => {
    if (!props.code) {
      ElMessage.error('请输入表具编号');
      return;
    }

    getMeterVerify(props.code).then((res) => {
      if (res) {
        infoData.meter.data = res;
        dialogShow.value = true;
      } else {
        ElMessage.error('未查询到相关信息');
      }
    });
  };
</script>
