<template>
  <el-dialog-ext v-model="dialog.show" title="报表预览打印" width="1000px">
    <iframe v-if="reportUri" class="iframe-report" :src="reportUri" frameborder="0"></iframe>
  </el-dialog-ext>
</template>

<script setup>
  import qs from 'query-string';

  import { useUserStore } from '@/store/modules/user';

  const userStore = useUserStore();

  const dialog = reactive({
    show: false,
  });

  const reportPrefix = import.meta.env.VITE_APP_REPORT_URL;
  const reportUri = ref('');

  const openPreview = (reportID, query = {}) => {
    reportUri.value = `${reportPrefix}${reportID}?${qs.stringify({
      ...query,
      token: userStore.token,
    })}`;

    dialog.show = true;
  };

  defineExpose({
    openPreview,
  });
</script>

<style lang="scss" scoped>
  .iframe-report {
    height: 90vh;
    width: 100%;
  }
</style>
