<template>
  <div :class="props.row ? 'flex' : ''">
    <el-select
      :model-value="mrTeamId"
      placeholder="请选择抄表班组"
      style="width: 100%"
      clearable
      filterable
      @change="mrTeamChange"
    >
      <el-option v-for="item in mrTeamsList" :key="item.id" :label="item.name" :value="item.id">
      </el-option>
    </el-select>

    <el-select
      :model-value="mrUserId"
      placeholder="请选择抄表人员"
      style="width: 100%"
      clearable
      filterable
      :class="!props.row ? 'mt-2' : ''"
      @change="mrUserChange"
    >
      <el-option
        v-for="item in mrUserList"
        :key="item.userId"
        :label="item.userName"
        :value="item.userId"
      >
      </el-option>
    </el-select>
  </div>
</template>

<script setup>
  import { mrTeamList as getTeam, mrTeamUser as getUser } from '@/api/org/MrTeam';

  const props = defineProps({
    row: {
      type: Boolean,
      default: false,
    },
    mrTeamId: {
      type: String,
      default: '',
    },
    mrUserId: {
      type: String,
      default: '',
    },
    mrUserName: {
      type: String,
      default: '',
    },
  });

  const emits = defineEmits(['update:mrTeamId', 'update:mrUserId', 'update:mrUserName']);

  const { mrTeamId, mrUserId } = toRefs(props);

  const mrTeamsList = ref([]);
  getTeam(1, 9999).then((res) => {
    mrTeamsList.value = res.rows.map((v) => {
      const m = v;
      m.id = `${m.id}`;
      return m;
    });
  });

  const mrUserList = ref([]);
  const getMrUserList = () => {
    getUser(mrTeamId.value).then((res) => {
      mrUserList.value = res.rows.map((v) => {
        const m = v;
        m.userId = `${m.userId}`;
        return m;
      });
    });
  };

  const mrTeamChange = (e) => {
    emits('update:mrTeamId', e);
    emits('update:mrUserId', '');
    emits('update:mrUserName', '');
    getMrUserList();
  };

  const mrUserChange = (e) => {
    const find = mrUserList.value.filter((v) => v.userId === e);
    emits('update:mrUserId', e);
    emits('update:mrUserName', find[0].userName);
  };

  if (props.mrTeamId) {
    getMrUserList();
  }

  watch(
    () => props.mrTeamId,
    () => {
      getMrUserList();
    }
  );
</script>
