<template>
  <el-cascader
    ref="modelRef"
    :model-value="modelValue"
    :options="options"
    :props="cascaderProps"
    clearable
    style="width: 100%"
    @change="updateModel"
  />
</template>

<script setup>
// import { getMeterModelTree } from '@/api/common';

const modelRef = ref(null);

const props = defineProps({
  modelValue: {
    type: Array,
    default: () => [],
  },
});

const { modelValue } = toRefs(props);

const emits = defineEmits([
  "update:modelValue",
  "change",
  "update:singleValue",
  "update:modelNames",
]);

const cascaderProps = {
  label: "name",
  value: "id",
};

const options = ref([]);
getMeterModelTree().then((res) => {
  options.value = res.rows;
});

const updateModel = (e) => {
  let labels = [];
  if (modelRef.value.getCheckedNodes().length > 0) {
    labels = modelRef.value.getCheckedNodes()[0].pathLabels;
  }

  emits("update:modelNames", labels);
  emits("update:modelValue", e);
  emits("update:singleValue", e[e.length - 1]);
  emits("change", e);
};
</script>
