<template>
  <el-select
    v-model="stationId"
    placeholder="请选择管理站"
    style="width: 100%"
    clearable
    filterable
    @change="mgtChange"
  >
    <el-option
      v-for="item in mgtList"
      :key="item.id"
      :label="item.name"
      :value="item.id"
    >
    </el-option>
  </el-select>
</template>

<script setup>
// import { stationInfoAll } from '@/api/common';

const props = defineProps({
  stationId: {
    type: String,
    default: "",
  },
});

const emits = defineEmits(["update:stationId"]);

const stationId = ref(`${props.stationId}`);

watch(
  () => props.stationId,
  () => {
    stationId.value = `${props.stationId}`;
  }
);
const mgtList = ref([]);
const getMgtList = () => {
  stationInfoAll().then((res) => {
    mgtList.value = res.rows.map((v) => {
      const m = v;
      m.id = `${m.id}`;
      return m;
    });
    if (mgtList.value.length > 0) {
      stationId.value = mgtList.value[0].id;
      mgtChange(mgtList.value[0].id);
    }
  });
};
getMgtList();

const mgtChange = (e) => {
  emits("update:stationId", e);
};
</script>
