<template>
  <div class="page-loading flex flex-col items-center justify-center">
    <div class="loading">
      <div class="loading-text">正在加载</div>
      <div class="box">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</template>

<script setup>
  //
</script>

<style lang="scss" scoped>
  .page-loading {
    height: 100%;
    width: 100%;

    .loading {
      color: var(--el-color-primary);

      .loading-text {
        height: 24px;
        line-height: 24px;
        font-size: 16px;
      }
    }

    .box {
      margin-top: 20px;
      height: 30px;
      width: 130px;
      display: inherit;
      justify-content: center;
      overflow: hidden;
    }

    .circle {
      margin-left: 10px;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      background-color: var(--el-color-primary);

      animation: slider 3s ease-in-out infinite;
    }
    .circle:nth-child(5) {
      animation-delay: 0.2s;
    }
    .circle:nth-child(4) {
      animation-delay: 0.4s;
    }
    .circle:nth-child(3) {
      animation-delay: 0.6s;
    }
    .circle:nth-child(2) {
      animation-delay: 0.8s;
    }
    .circle:nth-child(1) {
      animation-delay: 1s;
    }

    @keyframes slider {
      0% {
      }
      30% {
        transform: translateX(200px);
      }
      40%,
      41% {
        background-color: transparent;
        transform: translateX(-200px);
      }
      50% {
        background-color: white;
      }
      90% {
        transform: translateX(0px);
      }
      100% {
      }
    }
  }
</style>
