<template>
  <el-select
    v-model="scTeamId"
    placeholder="请选择安检班组"
    style="width: 100%"
    clearable
    filterable
    @change="scTeamChange"
  >
    <el-option v-for="item in scTeamsList" :key="item.id" :label="item.name" :value="item.id">
    </el-option>
  </el-select>

  <el-select
    v-model="scUserId"
    placeholder="请选择安检人员"
    style="width: 100%"
    clearable
    filterable
    class="mt-2"
    @change="scUserChange"
  >
    <el-option
      v-for="item in scUserList"
      :key="item.userId"
      :label="item.userName"
      :value="item.userId"
    >
    </el-option>
  </el-select>
</template>

<script setup>
  import { scTeamList, scTeamUser } from '@/api/org/ScTeam';

  const props = defineProps({
    scTeamId: {
      type: String,
      default: '',
    },
    scUserId: {
      type: String,
      default: '',
    },
    scUserName: {
      type: String,
      default: '',
    },
  });

  const emits = defineEmits(['update:scTeamId', 'update:scUserId', 'update:scUserName']);

  const scTeamId = ref(`${props.scTeamId}`);
  const scUserId = ref(`${props.scUserId}`);

  const scTeamsList = ref([]);
  scTeamList(1, 9999).then((res) => {
    scTeamsList.value = res.rows.map((v) => {
      const m = v;
      m.id = `${m.id}`;
      return m;
    });
  });

  const scUserList = ref([]);
  const getScUserList = () => {
    scTeamUser(scTeamId.value).then((res) => {
      scUserList.value = res.rows.map((v) => {
        const m = v;
        m.userId = `${m.userId}`;
        return m;
      });
    });
  };

  if (scTeamId.value) {
    getScUserList();
  }

  watch(
    () => props.scTeamId,
    () => {
      scTeamId.value = `${props.scTeamId}`;
    }
  );
  watch(
    () => props.scUserId,
    () => {
      scUserId.value = `${props.scUserId}`;
    }
  );

  const scTeamChange = (e) => {
    emits('update:scTeamId', e);
    emits('update:scUserId', '');
    emits('update:scUserName', '');
    scUserId.value = '';
    getScUserList();
  };

  const scUserChange = (e) => {
    const find = scUserList.value.filter((v) => v.userId === e);
    emits('update:scUserId', e);
    emits('update:scUserName', find[0].userName);
  };
</script>
