<template>
  <div v-if="showUpdate" class="update-helper">
    <div class="mb-4">发现新版本可用</div>
    <el-button type="primary" @click="refreshPage">点击刷新</el-button>
  </div>
</template>

<script setup>
  import axios from 'axios';

  const showUpdate = ref(false);

  let buildTime;

  const checkUpdate = () => {
    setInterval(() => {
      axios({
        url: `${import.meta.env.VITE_APP_BASE_URL}static/json/version.json`,
        method: 'GET',
      })
        .then((res) => {
          if (!buildTime) {
            // eslint-disable-next-line prefer-destructuring
            buildTime = res.data.buildTime;
          } else if (buildTime < res.data.buildTime) {
            showUpdate.value = true;
          }
        })
        .catch((err) => {});
    }, 30000);
  };

  checkUpdate();

  const refreshPage = () => {
    window.location.reload();
  };
</script>

<style lang="scss" scoped>
  .update-helper {
    box-sizing: border-box;
    z-index: 9999;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #e4e7ed;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 120px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #606266;
  }
</style>
