<template>
  <el-select
    v-model="userId"
    placeholder="请选择用户"
    style="width: 100%"
    clearable
    filterable
    @change="userChange"
  >
    <el-option
      v-for="item in userList"
      :key="item.id"
      :label="item.name"
      :value="item.id"
    >
    </el-option>
  </el-select>
</template>

<script setup>
// import { getUserByCompanyId } from '@/api/common';

// const props = defineProps({
//   modelValue: {
//     type: String,
//     default: "",
//   },
//   userName: {
//     type: String,
//     default: "",
//   },
// });

// const emits = defineEmits(["update:modelValue", "update:userName"]);

// const userId = ref(`${props.modelValue}`);

// const userList = ref([]);
// getUserByCompanyId().then((res) => {
//   userList.value = res.rows;
// });

// watch(
//   () => props.modelValue,
//   () => {
//     userId.value = `${props.modelValue}`;
//   }
// );

// const userChange = (e) => {
//   const userName = userList.value.filter((v) => v.id === e)[0].name;
//   emits("update:modelValue", e);
//   emits("update:userName", userName);
// };
</script>
