<template>
  <el-select
    v-model="woTeamId"
    placeholder="请选择外勤班组"
    style="width: 100%"
    clearable
    filterable
    @change="woTeamChange"
  >
    <el-option v-for="item in woTeamsList" :key="item.id" :label="item.name" :value="item.id">
    </el-option>
  </el-select>

  <el-select
    v-model="woUserId"
    placeholder="请选择外勤人员"
    style="width: 100%"
    clearable
    filterable
    class="mt-2"
    @change="woUserChange"
  >
    <el-option
      v-for="item in woUserList"
      :key="item.userId"
      :label="item.userName"
      :value="item.userId"
    >
    </el-option>
  </el-select>
</template>

<script setup>
  import { owTeamList, owTeamUser } from '@/api/org/OwTeam';

  const props = defineProps({
    woTeamId: {
      type: String,
      default: '',
    },
    woUserId: {
      type: String,
      default: '',
    },
    woUserName: {
      type: String,
      default: '',
    },
  });

  const emits = defineEmits(['update:woTeamId', 'update:woUserId', 'update:woUserName']);

  const woTeamId = ref(`${props.woTeamId}`);
  const woUserId = ref(`${props.woUserId}`);

  const woTeamsList = ref([]);
  owTeamList(1, 9999).then((res) => {
    woTeamsList.value = res.rows.map((v) => {
      const m = v;
      m.id = `${m.id}`;
      return m;
    });
  });

  const woUserList = ref([]);
  const getWoUserList = () => {
    owTeamUser(woTeamId.value).then((res) => {
      woUserList.value = res.rows.map((v) => {
        const m = v;
        m.userId = `${m.userId}`;
        return m;
      });
    });
  };

  const woTeamChange = (e) => {
    emits('update:woTeamId', e);
    emits('update:woUserId', '');
    emits('update:woUserName', '');
    woUserId.value = '';
    getWoUserList();
  };

  const woUserChange = (e) => {
    const find = woUserList.value.filter((v) => v.userId === e);
    emits('update:woUserId', e);
    emits('update:woUserName', find[0].userName);
  };

  if (props.woTeamId) {
    getWoUserList();
  }

  watch(
    () => props.woTeamId,
    () => {
      woTeamId.value = `${props.woTeamId}`;
    }
  );
  watch(
    () => props.woUserId,
    () => {
      woUserId.value = `${props.woUserId}`;
    }
  );
</script>
