<template>
  <el-container>
    <el-header>
      <Header></Header>
    </el-header>

    <el-drawer
      v-if="isMobile && !fullWindow"
      ref="menuDrawer"
      :model-value="sidebarOpen"
      :with-header="false"
      direction="ltr"
      append-to-body
      :size="220"
      :before-close="closeSidebar"
    >
      <Menu></Menu>
    </el-drawer>
    <el-container class="workspace">
      <el-aside v-show="!isMobile && !fullWindow" :width="sidebarWidth">
        <Menu></Menu>
      </el-aside>
      <el-main class="layout-main">
        <Tabs></Tabs>

        <el-scrollbar
          ref="scrollbarRef"
          class="scrollbar"
          style="height: calc(100% - 48px)"
        >
          <RouterView>
            <template #default="{ Component, route }">
              <transition name="fade-slide" mode="out-in" appear>
                <keep-alive v-if="!route.meta.noCache && enabledCachedViews">
                  <component :is="Component" :key="route.fullPath" />
                </keep-alive>
                <component :is="Component" v-else :key="route.fullPath" />
              </transition>
            </template>
          </RouterView>
        </el-scrollbar>
        <el-backtop
          target=".layout-main .el-scrollbar__wrap"
          :bottom="130"
          :right="80"
        >
        </el-backtop>
      </el-main>
    </el-container>
  </el-container>
  <ResizeHandler></ResizeHandler>
</template>

<script setup>
import { useAppStore } from "@/store/modules/app";

import Header from "@/layout/header/index.vue";
import Menu from "@/layout/menu/index.vue";
import ResizeHandler from "@/layout/menu/ResizeHandler.vue";
import Tabs from "@/layout/tabs/index.vue";

const scrollbarRef = ref(null);
provide("scrollbarRef", scrollbarRef);

const $route = useRoute();
const appStore = useAppStore();
const cachedViews = computed(() => appStore.cachedViews);
const isMobile = computed(() => appStore.device === "mobile");
const sidebarOpen = computed(() => appStore.sidebarOpen);
const fullWindow = computed(() => appStore.fullWindow);
const enabledCachedViews = computed(() => appStore.enabledCachedViews);

const isCollapse = computed(() => appStore.sidebarOpen);
const sidebarWidth = computed(() => (isCollapse.value ? "220px" : "64px"));
const menuDrawer = ref(null);

const closeSidebar = () => {
  appStore.closeSidebar();
};

watch($route, (e) => {
  if (isMobile && menuDrawer.value) {
    menuDrawer.value.handleClose();
  }
});
</script>

<style lang="scss" scoped>
.workspace {
  height: calc(100% - 80px);
}

.layout-main {
  background-color: rgb(242, 243, 244);
  box-sizing: border-box;
  padding: 0px;
}

html.dark {
  .layout-main {
    background-color: #141414;
  }
}
</style>

<style scoped>
.el-header {
  padding: 0;
  height: auto;
}
</style>
