<template>
  <el-config-provider :locale="currentLocale">
    <router-view></router-view>
    <page-loading v-if="routeLoading"></page-loading>
  </el-config-provider>
</template>
<script setup>
import { ElConfigProvider } from "element-plus";
import en from "element-plus/lib/locale/lang/en";
import zhCN from "element-plus/lib/locale/lang/zh-cn";
import { useAppStore } from "./store/modules/app";
import { printLogo } from "@/utils/copyright";
// import { useAppStore } from "@/store/modules/app";
printLogo();
const currentLocale = computed(() => (appStore.lang === "zhCN" ? zhCN : en));
const appStore = useAppStore();
const routeLoading = computed(() => appStore.routeLoading);
</script>
<style scoped>
#app {
  color: #000000d9;
}
</style>
