<template>
  <component :is="type" v-bind="linkProps(to)">
    <slot />
  </component>
</template>

<script setup>
  import { isExternal as isExternalTo } from '@/utils/validate';

  const props = defineProps({
    to: {
      type: String,
      required: true,
    },
  });

  const isExternal = computed(() => isExternalTo(props.to));
  const type = computed(() => (isExternal.value ? 'a' : 'router-link'));

  const linkProps = (to) => {
    if (isExternal.value) {
      return {
        href: to,
        target: '_blank',
        rel: 'noopener',
      };
    }
    return {
      to,
    };
  };
</script>
