<template>
  <div class="layout-menu">
    <!-- <AppLogo></AppLogo> -->
    <el-scrollbar class="scrollbar">
      <el-menu
        :default-active="activeMenu"
        :collapse="isCollapse"
        :collapse-transition="false"
        background-color="#282c34"
        text-color="#fff"
        active-text-color="#fff"
      >
        <SidebarItem
          v-for="item in menus"
          :key="item.path"
          :item="item"
        ></SidebarItem>
      </el-menu>
    </el-scrollbar>
    <div class="menu-action align-center flex justify-end">
      <div class="menu-btn" @click="toggleSidebar">
        <el-icon v-if="sidebarOpen" :size="20" color="#ffffff">
          <i-ep-fold />
        </el-icon>
        <el-icon v-else :size="20" color="#ffffff">
          <i-ep-expand />
        </el-icon>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useRoute } from "vue-router";

import { useAppStore } from "@/store/modules/app";
import { userAppStore } from "@/store/modules/user";

import SidebarItem from "./SidebarItem.vue";

const appStore = useAppStore();
const userStore = userAppStore();
const $route = reactive(useRoute());

const menus = computed(() => userStore.routes);
const device = computed(() => appStore.device);
const sidebarOpen = computed(() => appStore.sidebarOpen);
const isCollapse = computed(() => !appStore.sidebarOpen);

const activeMenu = computed(() => $route.path);

const toggleSidebar = () => {
  appStore.toggleSidebar();
};
</script>
