<template>
  <el-icon v-if="props.icon" :color="props.color">
    <component :is="props.icon"></component>
  </el-icon>
  <span>{{ props.title }}</span>
</template>

<script setup>
  const props = defineProps({
    title: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: '',
    },
  });
</script>

<!--

export default defineComponent({
  name: 'MenuItem',
  props: {
    icon: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    return () => (
      <>
        {props.icon ? h('div', 8) : 2}
        <span>{props.title}</span>
      </>
    );
  },
}); -->
