<template>
  <div></div>
</template>
<script setup>
import { useAppStore } from "@/store/modules/app";

const appStore = useAppStore();

const WIDTH = 992;

const isMobile = () => document.body.getBoundingClientRect().width - 1 < WIDTH;

const resizeHandler = () => {
  if (!document.hidden) {
    appStore.toggleDevice(isMobile() ? "mobile" : "desktop");

    if (isMobile()) {
      appStore.closeSidebar();
    }
  }
};

onMounted(() => {
  if (isMobile()) {
    appStore.toggleDevice("mobile");
    appStore.closeSidebar();
  }
});

onBeforeMount(() => {
  window.addEventListener("resize", resizeHandler);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", resizeHandler);
});
</script>
