<template>
  <!-- <div v-if="!props.item.hidden"> -->
  <template
    v-if="
      hasOneShowingChild(props.item.children, props.item) &&
      (!onlyOneChild.children || onlyOneChild.noShowingChildren) &&
      !props.item.alwaysShow
    "
  >
    <app-link v-if="onlyOneChild.meta" :to="resolvePath(onlyOneChild.path)">
      <el-menu-item
        :index="resolvePath(onlyOneChild.path)"
        :class="{ 'submenu-title-noDropdown': !isNest }"
      >
        <!-- <i class="el-icon-document"></i>
        <template #title>
          <span>{{ onlyOneChild.meta.title }}</span>
        </template> -->
        <el-icon v-if="onlyOneChild.meta.icon" :color="onlyOneChild.meta.color">
          <component :is="onlyOneChild.meta.icon"></component>
        </el-icon>

        <template #title>
          {{ onlyOneChild.meta.color }}
          <menu-item :color="onlyOneChild.meta.color" :title="onlyOneChild.meta.title" />
        </template>
      </el-menu-item>
    </app-link>
  </template>

  <el-sub-menu v-else ref="subMenu" :index="resolvePath(props.item.path)" popper-append-to-body>
    <template #title>
      <menu-item
        v-if="props.item.meta"
        :icon="props.item.meta && props.item.meta.icon"
        :title="props.item.meta.title"
        :color="props.item.meta.color"
      />
    </template>
    <SidebarItem
      v-for="child in props.item.children"
      :key="child.path"
      :is-nest="true"
      :item="child"
      :base-path="resolvePath(child.path)"
    />
  </el-sub-menu>
  <!-- </div> -->
</template>

<script setup>
  import path from 'path-browserify';

  import { isExternal } from '@/utils/validate';

  import AppLink from './AppLink.vue';
  import MenuItem from './menu-item.vue';

  const props = defineProps({
    item: {
      type: Object,
      required: true,
    },
    isNest: {
      type: Boolean,
      default: false,
    },
    basePath: {
      type: String,
      default: '',
    },
  });

  const onlyOneChild = ref(null);

  const hasOneShowingChild = (children = [], parent) => {
    const showingChildren = children.filter((item) => {
      if (item.hidden) {
        return false;
      }
      // Temp set(will be used if only has one showing child)
      onlyOneChild.value = item;
      return true;
    });

    // When there is only one child router, the child router is displayed by default
    if (showingChildren.length === 1) {
      if (showingChildren[0].name === 'Dashboard') {
        return true;
      }
      return false;
    }

    // Show parent if there are no child router to display
    if (showingChildren.length === 0) {
      onlyOneChild.value = { ...parent, path: '', noShowingChildren: true };
      return true;
    }

    return false;
  };

  const resolvePath = (routePath) => {
    if (isExternal(routePath)) {
      return routePath;
    }
    if (isExternal(props.item.path)) {
      return props.basePath;
    }
    return path.resolve(props.item.path, routePath);
  };
</script>
