<template>
  <div>
    <el-button type="primary" @click="handleSelectCust">
      <el-icon class="el-icon--left">
        <i-ep-search></i-ep-search>
      </el-icon>
      选择客户
    </el-button>

    <el-dialog-ext v-model="custSelDialogShow" title="选择客户" width="1000px">
      <ClassicLayout padding="0px">
        <template #extend>
          <el-form ref="queryRef" label-width="90px" inline :model="query.data">
            <el-form-item label="客户名称" prop="name">
              <el-input v-model="query.data.name" placeholder="请输入客户名称"></el-input>
            </el-form-item>

            <el-form-item label="注册电话" prop="phone">
              <el-input
                v-model="query.data.phone"
                placeholder="请输入注册电话"
                type="number"
                maxlength="11"
              ></el-input>
            </el-form-item>

            <el-form-item label="身份证号" prop="idCard">
              <el-input
                v-model="query.data.idCard"
                placeholder="请输入身份证号"
                maxlength="18"
              ></el-input>
            </el-form-item>

            <el-form-item class="not-limit float-right">
              <el-button type="primary" @click="goQuery">
                <el-icon class="el-icon--left">
                  <i-ep-search></i-ep-search>
                </el-icon>
                查询
              </el-button>
              <el-button @click="resetQuery">
                <el-icon class="el-icon--left">
                  <i-ep-refresh-left></i-ep-refresh-left>
                </el-icon>
                重置
              </el-button>
            </el-form-item>
          </el-form>
        </template>

        <template #body>
          <el-table
            v-loading="tableInfo.isLoading"
            :data="tableInfo.data"
            stripe
            highlight-current-row
            style="width: 100%"
          >
            <el-table-column prop="name" label="客户名称" min-width="150" show-overflow-tooltip />
            <el-table-column prop="phone" label="注册电话" min-width="150" show-overflow-tooltip />
            <el-table-column prop="gender" label="性别" />
            <el-table-column prop="idCard" label="身份证号" min-width="200" show-overflow-tooltip />
            <el-table-column
              prop="openDate"
              label="开户日期"
              min-width="150"
              show-overflow-tooltip
            />

            <el-table-column label="操作" min-width="100">
              <template #default="scope">
                <div class="flex justify-end">
                  <el-button text type="primary" @click="handleSelect(scope.row)">选择</el-button>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </template>
        <template #footer>
          <el-pagination
            class="flex justify-end"
            :current-page="tableInfo.page"
            :page-sizes="[10, 15, 20, 30, 50]"
            :page-size="tableInfo.limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="tableInfo.total"
            @size-change="handleSizeChange"
            @current-change="switchPage"
          >
          </el-pagination>
        </template>
      </ClassicLayout>
    </el-dialog-ext>
  </div>
</template>

<script setup>
  import { custUserList } from '@/api/cust/CustUser';

  import useTable from '@/hooks/useTable';

  const {
    queryRef,
    query,
    goQuery,
    resetQuery,
    tableInfo,
    getTableInfo,
    switchPage,
    handleSizeChange,
  } = useTable(custUserList);

  const emits = defineEmits(['selected']);

  const custSelDialogShow = ref(false);

  const handleSelectCust = () => {
    getTableInfo();
    custSelDialogShow.value = true;
  };

  const handleSelect = (e) => {
    custSelDialogShow.value = false;
    emits('selected', e);
  };
</script>
